<template>
    <app-layout title="Edit Produk">

    <template #header>
        <breadcrumb :breadcrumb="breadcrumb" />			
    </template>

    <div>
        <div class="relative table-container">
            <jet-form @submitted="updateModel">
                    <template #form>
							<div class="col-span-12 sm:col-span-6">
                                <JetLabel for="category_id" value="Kategori" />
                                <JetSelect class="mt-1 block w-full" 
									v-model="form.category_id" 
									:options="categories"
								/>
                                <JetInputError :message="form.errors.category_id" class="mt-2" />
                            </div>

                            <div class="col-span-12 sm:col-span-6">
								<JetLabel for="name" value="Nama Produk" />
								<JetInput
									id="name"
									v-model="form.name"
									type="text"
									class="mt-1 block w-full"
									autocomplete="name"
								/>
								<JetInputError :message="form.errors.name" class="mt-2" />
							</div>

							<div class="col-span-12 sm:col-span-6">
								<JetLabel for="price" value="Harga" />
								<JetInput
									id="price"
									v-model="form.price"
									type="text"
									class="mt-1 block w-full"
								/>
								<JetInputError :message="form.errors.price" class="mt-2" />
							</div>

							<div class="col-span-12 sm:col-span-6">
								<JetLabel for="discount" value="Diskon %" />
								<JetInput
									id="discount"
									v-model="form.discount"
									type="text"
									class="mt-1 block w-full"
								/>
								<JetInputError :message="form.errors.discount" class="mt-2" />
							</div>
							
							<div class="col-span-12 sm:col-span-6">
								<JetLabel for="stock" value="Stok/Ketersediaan" />
								<JetInput
									id="stock"
									v-model="form.stock"
									type="text"
									class="mt-1 block w-full"
								/>
								<JetInputError :message="form.errors.stock" class="mt-2" />
							</div>

							<div class="col-span-12 sm:col-span-6">
								<JetLabel for="desc" value="Keterangan" />
								<!--<JetInput
									id="desc"
									v-model="form.desc"
									type="text"
									class="mt-1 block w-full"
								/>-->
								<editor
									api-key="no-api-key"
									:init="init"
									v-model="form.desc"
								/>
								<JetInputError :message="form.errors.desc" class="mt-2" />
							</div>

							<div class="col-span-12 sm:col-span-6">
								<JetLabel for="is_active" value="Status" />
								<JetSelect class="mt-1 block w-full" v-model="form.is_active" :options="is_active" />
								<JetInputError :message="form.errors.is_active" class="mt-2" />
							</div>
                        </template>

                    <template #actions>
                        <jet-button-primary >
							<IconSave />
							Save
						</jet-button-primary>
                    </template>
            </jet-form>
        </div>
    </div>
    </app-layout>
</template>
<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetForm from '@/Jetstream/Form.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import Breadcrumb from '@/Components/Tmp/Breadcrumb'
	import JetSelect from '@/Jetstream/Select.vue'

	import JetButtonPrimary from '@/Jetstream/ButtonPrimary.vue'
	import IconSave from '@/Components/Icons/Save'
	
	import Editor from '@tinymce/tinymce-vue'

    export default defineComponent({
        components: {
            AppLayout, JetForm, JetInput, JetLabel, Link, JetButton, 
			JetInputError, JetDangerButton, Breadcrumb,
			JetButtonPrimary, IconSave, JetSelect, Editor
        },
        props: ['model', 'categories'],

        data() {
            return {
				init: {
					menubar: false,
					height : "480",
					plugins: 'lists link image emoticons',
					toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image emoticons'
				},
                itemId :  this.model.id,
				is_active: [{name: '==Select==', value: ''}, {name: 'Aktif', value: 1}, {name: 'Tidak Aktif', value: 0}],
				breadcrumb: [{titel: 'Produk', route : 'products.index'}, {titel: 'Edit', route : '#'}],
                form: this.$inertia.form({
                    _method: "PUT",
					category_id: this.model.category_id,
                    name: this.model.name,
					price: this.model.price,
                    discount: this.model.discount,
					stock: this.model.stock,
                    desc: this.model.desc,
                    is_active: this.model.is_active
                })
            }
        },
        methods: {
            updateModel() {
                this.form.post(route('products.update', this.itemId), {
                    errorBag: 'updateModel',
                    preserveScroll: true,
                    onSuccess: page => {
                        //console.log(page)
                    },
                });
            },
        },

        
    })
</script>
