<script>
import { mapState } from 'vuex'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
import JetDropdown from '@/Jetstream/Dropdown.vue'
import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
import JetApplicationMark from '@/Jetstream/ApplicationMark.vue';

export default {
    name: 'Navbar',
	components: {
		JetResponsiveNavLink,
		JetDropdown,
		JetDropdownLink,
		JetApplicationMark,
	},
    computed: {
        ...mapState(['sideBarOpen'])
    },
    data() {
        return {
            //dropDownOpen: false
        }
    },
    methods: {
        toggleSidebar() {
            this.$store.dispatch('toggleSidebar')
        },
		logout() {
			this.$inertia.post(route('logout'));
		},
    },
}
</script>

<template>
	<header class="fixed top-0 left-0 z-40 flex items-center justify-between w-full px-4 py-3 md:h-16 md:px-8 bg-gradient-to-r from-primary-500 to-primary-400">
		<a href="" class="float-none text-lg not-italic font-black tracking-wider text-white brand-main md:float-left font-base">
			<JetApplicationMark class="hidden h-9 md:block" />
			<JetApplicationMark id="logo-mobile" class="block h-6 md:hidden" />
		</a>
		
		<ul class="float-right h-8 m-0 list-none md:h-9">
			<div  class="float-left mr-2 md:block">
				<div  class="relative">
					<div id="sw_items_id_dua9va19v" aria-describedby="tooltip" class="z-10 p-2 text-base text-left list-none rounded border-0 shadow bg-white text-black" style="display: none;">
						<div  class="w-64 h-40 overflow-y-scroll box">
							
						</div>
					</div>
				</div>
			</div>

			<button @click="toggleSidebar()" class="flex float-left p-1 ml-3 overflow-visible text-sm text-black ease-linear bg-white border-0 rounded cursor-pointer md:hidden md:ml-0 hamburger hamburger--arrowturn">
				<div class="relative inline-block w-6 h-6">
					<div class="block hamburger-inner top-1/2"></div>
				</div>
			</button>

			<li class="relative block float-left ml-2">
				<jet-dropdown align="right" width="48">
					<template #trigger>
						<button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
							<img class="h-8 w-8 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
						</button>

						<span v-else class="inline-flex rounded-md">
							<button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
								{{ $page.props.user.name }}

								<svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
								</svg>
							</button>
						</span>
					</template>

					<template #content>
						<!-- Account Management -->
						<div class="block px-4 py-2 text-xs text-gray-400">
							Manage Account
						</div>

						<jet-dropdown-link :href="route('profile.show')">
							Profile
						</jet-dropdown-link>

						<jet-dropdown-link :href="route('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">
							API Tokens
						</jet-dropdown-link>

						<div class="border-t border-gray-100"></div>

						<!-- Authentication -->
						<form @submit.prevent="logout">
							<jet-dropdown-link as="button">
								Log Out
							</jet-dropdown-link>
						</form>
					</template>
				</jet-dropdown>
			</li>
		</ul>
	</header>
</template>