<script setup>
	import NavLink from './NavLink.vue'
</script>

<template>
	<div class="p-0 m-0 list-none mt-10 first:mt-6">
		<nav-link :href="route('dashboard')" :active="route().current('dashboard')">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
			</template>
			<template v-slot:titel> 
				Dashboard	
			</template>
		</nav-link>

		<nav-link :href="route('products.index')" :active="route().current('products.index')" v-show="$page.props.user.isVendor">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path>
			</template>
			<template v-slot:titel> 
				Produk	
			</template>
		</nav-link>

		<nav-link :href="route('transactions.index')" :active="route().current('transactions.index')" v-show="$page.props.user.isVendor">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>	
			</template>
			<template v-slot:titel> 
				Transaksi
			</template>
		</nav-link>
	</div>
	
	<div class="p-0 m-0 list-none mt-10 first:mt-6">
		<nav-link :href="route('categories.index')" :active="route().current('categories.index')" v-show="$page.props.user.isAdmin">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path>	
			</template>
			<template v-slot:titel> 
				Kategori	
			</template>
		</nav-link>
	</div>

	

	<div class="p-0 m-0 list-none mt-10 first:mt-6" >
		<nav-link :href="route('admins.index')"  :active="route().current('admins.index')" v-show="$page.props.user.isSuperAdmin">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
			</template>
			<template v-slot:titel> 
				Administrator	
			</template>
		</nav-link>

		<nav-link :href="route('users.index')"  :active="route().current('users.index')" v-show="$page.props.user.isAdmin">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>	
			</template>
			<template v-slot:titel> 
				Anggota	
			</template>
		</nav-link>

		<nav-link :href="route('vendors.index')"  :active="route().current('vendors.index')" v-show="$page.props.user.isAdmin">
			<template v-slot:svg> 
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>		
			</template>
			<template v-slot:titel> 
				Vendors/Mitra
			</template>
		</nav-link>
	</div>
</template>