<script>
	import { mapState } from 'vuex'
	import NavLink from './NavLink.vue'
	import MenuList from './MenuList.vue'
	
	export default {
		name: 'Sidebar',
		components: {
			NavLink,
			MenuList,
		},
		data() {
            return {
                accounts: false,
                services: false,
                networks: false,
                config: false,
            }
        },
		methods: {
			//
        },
		computed: {
			...mapState(['sideBarOpen'])
		},
		mounted() {
			//this.checkMenu()
        }
	}
</script>

<template>
	<div class="fixed top-0 left-0 z-20 w-full h-full" style="background: rgba(48, 75, 88, 0.5) none repeat scroll 0% 0%; display: none;" type="fade"></div>

	<div class="hidden w-56 h-screen pb-32 overflow-y-auto bg-white border-r border-gray-200 border-solid xl:w-64 sw-scroll md:block">
		<MenuList />
	</div>
	
	<div class="fixed top-0 z-30 w-64 h-screen pt-16 pb-32 overflow-y-auto bg-white border-r border-gray-200 border-solid sw-scroll md:hidden" :style="sideBarOpen ? '' : 'display: none;'" >
		<MenuList />
	</div>
</template>