<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: ['href', 'active'],
	
        computed: {
			classes() {
                return this.active
                    ? 'w-full flex items-center h-10 pl-4 bg-gray-100 hover:bg-gray-100 cursor-pointer border-l-4 border-blue-400'
                    : 'w-full flex items-center h-10 pl-4 hover:bg-gray-100 cursor-pointer border-l-4 border-white'
            },
			textclasses() {
                return this.active
                    ? 'text-sm not-italic font-medium leading-5 text-blue-500'
                    : 'text-sm not-italic font-medium leading-5 text-black'
            },
			iconclasses() {
                return this.active
                    ? 'inline-block overflow-visible h-5 w-5 text-sm text-blue-500 mr-4'
                    : 'inline-block overflow-visible h-5 w-5 text-sm text-gray-500 text-opacity mr-4'
            },
        }
    })

</script>

<template>
    <Link :href="href" :class="classes">
		<span :class="iconclasses">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width="24px" height="24px" class="h-5">
				<slot name="svg"></slot>
			</svg>
		</span>
		<span :class="textclasses"><slot name="titel"></slot></span>
    </Link>
</template>
