<template>
    <app-layout title="Edit Kategori">

    <template #header>
        <breadcrumb :breadcrumb="breadcrumb" />			
    </template>

    <div>
        <div class="relative table-container">
            <jet-form @submitted="updateModel">
                    <template #form>
                        <div class="col-span-12 sm:col-span-6">
							<JetLabel for="name" value="Kategori" />
							<JetInput
								id="name"
								v-model="form.name"
								type="text"
								class="mt-1 block w-full"
								autocomplete="name"
							/>
							<JetInputError :message="form.errors.name" class="mt-2" />
						</div>

						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="desc" value="Keterangan" />
							<JetInput
								id="desc"
								v-model="form.desc"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.desc" class="mt-2" />
						</div>

						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="is_active" value="Status" />
							<JetSelect class="mt-1 block w-full" v-model="form.is_active" :options="is_active" />
							<JetInputError :message="form.errors.is_active" class="mt-2" />
						</div>
						
                    </template>

                    <template #actions>
                        <jet-button-primary >
							<IconSave />
							Save
						</jet-button-primary>
                    </template>
            </jet-form>
        </div>
    </div>
    </app-layout>
</template>
<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetForm from '@/Jetstream/Form.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import Breadcrumb from '@/Components/Tmp/Breadcrumb'
	import JetSelect from '@/Jetstream/Select.vue'

	import JetButtonPrimary from '@/Jetstream/ButtonPrimary.vue'
	import IconSave from '@/Components/Icons/Save'
	
    export default defineComponent({
        components: {
            AppLayout, JetForm, JetInput, JetLabel, Link, JetButton, 
			JetInputError, JetDangerButton, Breadcrumb,
			JetButtonPrimary, IconSave, JetSelect
        },
        props: ['model'],

        data() {
            return {
                itemId :  this.model.id,
				is_active: [{name: '==Select==', value: ''}, {name: 'Aktif', value: 1}, {name: 'Tidak Aktif', value: 0}],
				breadcrumb: [{titel: 'Kategori', route : 'categories.index'}, {titel: 'Edit', route : '#'}],
                form: this.$inertia.form({
                    _method: "PUT",
                    name: this.model.name,
                    desc: this.model.desc,
                    is_active: this.model.is_active,
                })
            }
        },
        methods: {
            updateModel() {
                this.form.post(route('categories.update', this.itemId), {
                    errorBag: 'updateModel',
                    preserveScroll: true,
                    onSuccess: page => {
                        //console.log(page)
                    },
                });
            },
        },

        
    })
</script>
