<template>
    <app-layout title="Kategori">
		<template #header>
			<breadcrumb :breadcrumb="breadcrumb" />
        </template>

		<template #header_button>
			<jet-button-primary-outline @click="showFilter" type="button" >
				<icon-filter />
				Filter
			</jet-button-primary-outline>

			<Link :href="route('categories.create')">
			  	<jet-button-primary>
					<icon-add />
				  	Tambah Kategori
				</jet-button-primary>
			</Link>

		</template>

        <div class="relative table-container">

			<div class="flex pb-4" v-show="filterShow">              
				<div class="relative">
					<input type="text" class="h-10 w-96 pr-8 pl-5 rounded z-0 focus:shadow focus:outline-none" v-model="seachKey" placeholder="Search..." @keyup.enter="quickSearch">
					<div v-if="seachKey" class="absolute top-2 right-9">
						<button @click="clearSearchBar">
								<i class="fas fa-times text-gray-400 z-20 hover:text-gray-500"></i>
						</button>
					</div>
					<div class="absolute top-2 right-3"> 
						<Link :href="route('categories.index', { 'search': seachKey } )">
							<i class="fas fa-search text-gray-400 z-20 hover:text-gray-500"></i>
						</Link> 
					</div>
				</div>
			</div>

			<table class="min-w-full divide-y divide-gray-200 w-full">
				<thead>
					<tr>
						<th scope="col" width="50" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
						<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nama Kategori</th>
						<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created At</th>
						<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Updated At</th>
						<th scope="col" width="50" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-gray-200">
					<tr v-for="(item, index) in models.data" :key="item.id">
						<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ (index + 1) + (start)}}</td>
						<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ item.name }}</td>
						<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ item.formattedCreatedAt }}</td>
						<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ item.formattedUpdatedAt }}</td>
						<td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
							<JetButtonDropDown :id="item.id" >
								<template #trigger>
									<span class="inline-flex rounded-md">
										<button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-gray-500 bg-white transition">
											<span class="inline-block overflow-visible h-5 w-5 text-sm text-gray-500 text-opacity mr-4" >
												<IconOpen />
											</span>
										</button>
									</span>
								</template>

								<template #content>
									<ul class="py-1" aria-labelledby="dropdownButton">
										<jet-button-drop-down-link as="link" :href="route('categories.edit', item.id)" >
											<IconEdit />
											Edit
										</jet-button-drop-down-link> 

										<jet-button-drop-down-link as="button" @click="confirmModelDeletion(item.id)" >
											<IconDelete />
											Delete
										</jet-button-drop-down-link> 
									</ul>
								</template>
							</JetButtonDropDown>
						</td>
					</tr>
				</tbody>
			</table>
			<pagination :links="models.links"></pagination>
			<Empty page="Kategori" v-if="models.data.length == 0" />
            
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from "@/Jetstream/Button";
    import JetInput from "@/Jetstream/Input";
    import Pagination from '@/Components/Pagination'
    import { Link } from '@inertiajs/inertia-vue3';
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import ActionMessage from '@/Jetstream/ActionMessage.vue'
	import Breadcrumb from '@/Components/Tmp/Breadcrumb'
	import JetCheckbox from '@/Jetstream/Checkbox.vue'
	import JetRadio from '@/Jetstream/Radio.vue'

	import JetButtonPrimary from "@/Jetstream/ButtonPrimary"
    import JetButtonPrimaryOutline from "@/Jetstream/ButtonPrimaryOutline"
    import JetButtonDropDown from "@/Jetstream/ButtonDropDown"
    import JetButtonDropDownLink from "@/Jetstream/ButtonDropDownLink"
	import IconAdd from '@/Components/Icons/Add'
    import IconEdit from '@/Components/Icons/Edit'
    import IconDelete from '@/Components/Icons/Delete'
    import IconFilter from '@/Components/Icons/Filter'
    import IconOpen from '@/Components/Icons/Open'
    import IconKey from '@/Components/Icons/Key'
	import Empty from '@/Components/Empty'

    export default defineComponent({
        components: {
          AppLayout,
          JetButton,
          JetInput,
          Pagination,
          Link,
          JetFormSection,
          JetDialogModal, 
          JetDangerButton, 
          JetSecondaryButton, 
          ActionMessage,
          Breadcrumb,
          JetCheckbox,
          JetRadio,
		  JetButtonPrimary,
          JetButtonPrimaryOutline,
          JetButtonDropDown,
          JetButtonDropDownLink,
		  IconAdd,
          IconOpen,
          IconEdit,
          IconDelete,
          IconFilter,
          IconKey,
		  Empty
        },

        props: [
          'models',
          'start',
        ],

        data(){
            return{
                iId: null,
                roleName: "",
                filterShow: false,
                showRole: false,
                confirmingUserDeletion: false,
                itemId : null,
                start : this.start,
                seachKey : route().params.search ? route().params.search : null,
				breadcrumb: [{titel: 'Kategori', route : '#'}],
				rolesLTS: [],
				rolesValue: {},
                form: this.$inertia.form({
                    _method : 'DELETE',
                }),
				formrole: this.$inertia.form({
					_method: "PUT",
                    roles: [],
                })
            }
        },
        methods:{			
            quickSearch(){                
                this.$inertia.get(route('categories.index', { 'search': this.seachKey } ),{})
            },
            clearSearchBar(){
                //console.log(this.departments)
                if(route().params.search){
                    this.$inertia.get(route('categories.index'),{})
                }else{
                    this.seachKey = null
                }
            },
            confirmModelDeletion(id) {
                this.itemId = id;
                this.confirmingUserDeletion = true;
            },
            deleteitem() {
                // if (!confirm('Are you sure want to remove?')) return;
                // this.form.post(route('categories.destroy', this.itemId), {
                //     onSuccess: () => this.closeRole(),
                // })
            },

			openRole(item) {
				this.getUserRole(item.id)
				this.rolesLTS = this.roleLists

				this.roleName = "Role : " + item?.name
				this.iId = item?.id
				this.showRole = true
			},

			closeRole() {
				this.roleName = ""
				this.showRole = false
			},
			
			createRole() {
				let rolesValueArray = Object.entries(this.rolesValue);

				this.formrole.roles = this.rolesValue

				this.formrole.post(route('categories.role.update', this.iId), {
                    errorBag: 'createRole',
                    preserveScroll: true,
                    onSuccess: page => {
                        if(this.$page.props.success?.message) {
							this.closeRole()
							Toast.fire({
								position: 'top-end',
								icon: 'success',
								toast: true,
								title: this.$page.props.success?.message || 'Success'
							});
						}

						if(this.$page.props.warnings?.message) {
							Toast.fire({
								position: 'top-end',
								icon: 'error',
								toast: true,
								title: this.$page.props.warnings?.message || 'Warnings'
							});
						}
                    },
                });
				
			},
			getUserRole(id) {
				axios.get(route('categories.role.show', id)).then(response => {
					var size = Object.keys(response.data.data).length;
					if(size > 0) {
						this.rolesValue = response.data.data
					} else {
						this.getDefault()
					}
				});
			},
			getDefault() {
				let myObject = {}
				$.each(this.roleLists, function(index, value){
					let key = value['id'] ;
					let someValueArray = "view" ;

					myObject[key] = someValueArray;
				});

				this.rolesValue = myObject
			},
			showFilter() {
				this.filterShow = this.filterShow ? false : true
				console.log(this.filterShow)
			}
        },

		mounted() {
			if(this.seachKey != null) {
				this.filterShow = true
			}
        }

    })
</script>
