<script setup>
import { onMounted, ref } from 'vue';
import { Inertia } from '@inertiajs/inertia';
import { useForm, usePage } from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue';
import JetFormSection from '@/Jetstream/FormSection.vue';
import JetInput from '@/Jetstream/Input.vue';
import JetInputError from '@/Jetstream/InputError.vue';
import JetLabel from '@/Jetstream/Label.vue';
import JetActionMessage from '@/Jetstream/ActionMessage.vue';
import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue';
import JetTextarea from '@/Jetstream/Textarea.vue'

const props = defineProps({
    user_detail: Object,
});

const photoPreview = ref(null);
photoPreview.value = props.user_detail.logoUrl;
const photoInput = ref(null);

const form = useForm({
    _method: 'PUT',
    company_name: props.user_detail.company_name,
    leader_name: props.user_detail.leader_name,
    address: props.user_detail.address,
    phone: props.user_detail.phone,
    mobile: props.user_detail.mobile,
    lat: props.user_detail.lat,
    lng: props.user_detail.lng,
	logo: null,
});

//const url = props.user_detail.logoUrl;

const updateDetailProfileInformation = () => {

	if (photoInput.value) {
        form.logo = photoInput.value.files[0];
    }
	console.log("============FORM=============");
	console.log(form);
    form.post(route('user_detail.update'), {
        errorBag: 'updateDetailProfileInformation',
        preserveScroll: true,
        onSuccess: () => {},
    });
};

const updateProfileInformation = () => {
    if (photoInput.value) {
        form.photo = photoInput.value.files[0];
    }

    form.post(route('user-profile-information.update'), {
        errorBag: 'updateProfileInformation',
        preserveScroll: true,
        onSuccess: () => clearPhotoFileInput(),
    });
};

const selectNewPhoto = () => {
    photoInput.value.click();
};

const updatePhotoPreview = () => {
    const photo = photoInput.value.files[0];
    if (! photo) return;

    const reader = new FileReader();

    reader.onload = (e) => {
        photoPreview.value = e.target.result;
    };

    reader.readAsDataURL(photo);
};


onMounted(() => {
    //console.log(usePage().props.value.user.user_detail)
});

</script>

<template>
    <JetFormSection @submitted="updateDetailProfileInformation">
        <template #title>
            Profile Vendor
        </template>

        <template #description>
            Perbarui informasi vendor.
        </template>

        <template #form>
			<div class="col-span-12 sm:col-span-6">
				<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-12 xl:gap-8">
					<div class="relative justify-between lg:col-span-8 lg:!col-span-8">
						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="company_name" value="Nama Perusahaan" />
							<JetInput
								id="company_name"
								v-model="form.company_name"
								type="text"
								class="mt-1 block w-full"
								autocomplete="company_name"
							/>
							<JetInputError :message="form.errors.company_name" class="mt-2" />
						</div>

						<div class="mt-4 col-span-12 sm:col-span-6">
							<JetLabel for="leader_name" value="Nama Pimpinan" />
							<JetInput
								id="leader_name"
								v-model="form.leader_name"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.leader_name" class="mt-2" />
						</div>

						<div class="mt-4 col-span-12 sm:col-span-6">
							<JetLabel for="phone" value="No. Telfon" />
							<JetInput
								id="phone"
								v-model="form.phone"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.phone" class="mt-2" />
						</div>

						<div class="mt-4 col-span-12 sm:col-span-6">
							<JetLabel for="mobile" value="No. HP" />
							<JetInput
								id="mobile"
								v-model="form.mobile"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.mobile" class="mt-2" />
						</div>
					</div>

					<div class="relative justify-between lg:col-span-4 lg:!col-span-4">
						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="logo" value="Company Logo (512px x 512px)" />
							<input 
								type="file" 
								class="hidden"
								ref="photoInput"
								@change="updatePhotoPreview">

							<JetSecondaryButton id="logo" class="mt-2 mr-2" type="button" @click.prevent="selectNewPhoto">
								SELECT LOGO
							</JetSecondaryButton>

							<img
								v-if="photoPreview"
								:src="photoPreview"
								class="w-full mt-4 w-fit"
							/>

							<JetInputError :message="form.errors.picture" class="mt-2" />
						</div>
					</div>

				</div>
            </div>
			
			<div class="col-span-12 sm:col-span-6">
                <JetLabel for="address" value="Alamat" />
                <JetTextarea
                    id="address"
                    v-model="form.address"
                    type="text"
                    class="mt-1 block w-full"
                />
                <JetInputError :message="form.errors.address" class="mt-2" />
            </div>


			<div class="col-span-12 sm:col-span-6">
				<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-12 xl:gap-8">
					<div class="relative justify-between lg:col-span-6 lg:!col-span-6">
						<JetLabel for="lat" value="Latitude" />
						<JetInput
							id="lat"
							v-model="form.lat"
							type="text"
							class="mt-1 block w-full"
						/>
						<JetInputError :message="form.errors.lat" class="mt-2" />
					</div>
					
					<div class="relative justify-between lg:col-span-6 lg:!col-span-6">
						<JetLabel for="lng" value="Longitude" />
						<JetInput
							id="lng"
							v-model="form.lng"
							type="text"
							class="mt-1 block w-full"
						/>
						<JetInputError :message="form.errors.lng" class="mt-2" />
					</div>
				</div>
			</div>


        </template>

        <template #actions>
            <JetActionMessage :on="form.recentlySuccessful" class="mr-3">
                Saved.
            </JetActionMessage>

            <JetButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
            </JetButton>
        </template>
    </JetFormSection>
</template>
