<template>
    <app-layout title="Edit Admin">

    <template #header>
        <breadcrumb :breadcrumb="breadcrumb" />			
    </template>

    <div>
        <div class="relative table-container">
            <jet-form @submitted="updateAdmin">
                    <template #form>
                        <div class="col-span-12 sm:col-span-6">
							<JetLabel for="name" value="Name" />
							<JetInput
								id="name"
								v-model="form.name"
								type="text"
								class="mt-1 block w-full"
								autocomplete="name"
							/>
							<JetInputError :message="form.errors.name" class="mt-2" />
						</div>
						
						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="email" value="Email" />
							<JetInput
								id="email"
								v-model="form.email"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.email" class="mt-2" />
						</div>
						
						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="is_active" value="Status" />
							<JetSelect class="mt-1 block w-full" v-model="form.is_active" :options="is_active" />
							<JetInputError :message="form.errors.is_active" class="mt-2" />
						</div>

						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="role" value="Role" />
							<JetSelect class="mt-1 block w-full" v-model="form.role" :options="role" />
							<JetInputError :message="form.errors.role" class="mt-2" />
						</div>
						
						
						<div class="col-span-12 sm:col-span-6">
							<JetLabel for="password" value="Password" />
							<JetInput
								id="password"
								v-model="form.password"
								type="text"
								class="mt-1 block w-full"
							/>
							<JetInputError :message="form.errors.password" class="mt-2" />
						</div>
                    </template>

                    <template #actions>
                        <jet-button-primary >
							<IconSave />
							Save
						</jet-button-primary>
                    </template>
            </jet-form>
        </div>
    </div>
    </app-layout>
</template>
<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetForm from '@/Jetstream/Form.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetSelect from '@/Jetstream/Select.vue'
    import Breadcrumb from '@/Components/Tmp/Breadcrumb'

	import JetButtonPrimary from '@/Jetstream/ButtonPrimary.vue'
	import IconSave from '@/Components/Icons/Save'

    export default defineComponent({
        components: {
            AppLayout, JetForm, JetInput, JetLabel, Link, JetButton, 
			JetInputError, JetSelect, JetDangerButton, Breadcrumb,
			JetButtonPrimary, IconSave
        },
        props: ['model'],

        data() {
            return {
                itemId :  this.model.id,
                role: [{name: '==Select==', value: ''}, {name: 'Admin', value: 'admin'}, {name: 'Super Admin', value: 'super-admin'}],
				is_active: [{name: '==Select==', value: ''}, {name: 'Aktif', value: 1}, {name: 'Tidak Aktif', value: 0}, {name: 'Blokir', value: 2}],
				breadcrumb: [{titel: 'Administrator', route : 'admins.index'}, {titel: 'Edit', route : '#'}],
                form: this.$inertia.form({
                    _method: "PUT",
                    name: this.model.name,
                    email: this.model.email,
                    password: null,
                    role: this.model.role,
					is_active: this.model.is_active,
                })
            }
        },
        methods: {
            updateAdmin() {
                this.form.post(route('admins.update', this.itemId), {
                    errorBag: 'updateAdmin',
                    preserveScroll: true,
                    onSuccess: page => {
                        //console.log(page)
                    },
                });
            },
        },

        
    })
</script>
