<template>
	<svg
		viewBox="0 0 20 20"
		fill="currentColor"
		width="24px"
		height="24px"
		class="h-5 mr-3 text-gray-600"
		version="1.1"
		id="svg4"
		sodipodi:docname="add.svg"
		inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
		xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:svg="http://www.w3.org/2000/svg">
		<defs
			id="defs8" />
		<sodipodi:namedview
			id="namedview6"
			pagecolor="#ffffff"
			bordercolor="#111111"
			borderopacity="1"
			inkscape:pageshadow="0"
			inkscape:pageopacity="0"
			inkscape:pagecheckerboard="1"
			showgrid="false"
			inkscape:zoom="26.458333"
			inkscape:cx="12.018898"
			inkscape:cy="12"
			inkscape:window-width="1920"
			inkscape:window-height="1015"
			inkscape:window-x="0"
			inkscape:window-y="0"
			inkscape:window-maximized="1"
			inkscape:current-layer="svg4" />
		<g
			id="g831"
			transform="matrix(0.87830647,0,0,0.87830647,1.2157045,1.1410249)"
			style="stroke-width:1.13855">
			<path
			fill-rule="evenodd"
			d="M 10,18 A 8,8 0 1 0 10,2 8,8 0 0 0 10,18 Z M 13.707,8.707 A 1,1 0 0 0 12.293,7.293 L 9,10.586 7.707,9.293 a 1,1 0 0 0 -1.414,1.414 l 2,2 a 1,1 0 0 0 1.414,0 z"
			clip-rule="evenodd"
			id="path2-3"
			style="stroke-width:1.29631" />
		</g>
		<g
			id="g834"
			transform="matrix(0.87830647,0,0,0.87830647,1.2157045,1.1410249)"
			style="stroke-width:1.13855">
			<path
			fill-rule="evenodd"
			d="M 10,18 A 8,8 0 1 0 10,2 8,8 0 0 0 10,18 Z M 13.707,8.707 A 1,1 0 0 0 12.293,7.293 L 9,10.586 7.707,9.293 a 1,1 0 0 0 -1.414,1.414 l 2,2 a 1,1 0 0 0 1.414,0 z"
			clip-rule="evenodd"
			id="path832"
			style="stroke-width:1.29631" />
		</g>
	</svg>
</template>