<template>
	<svg
   viewBox="0 0 20 20"
   fill="currentColor"
   width="24px"
   height="24px"
   class="h-5 mr-3 text-gray-600"
   version="1.1"
   id="svg4"
   sodipodi:docname="add.svg"
   inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs8" />
  <sodipodi:namedview
     id="namedview6"
     pagecolor="#ffffff"
     bordercolor="#111111"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="1"
     showgrid="false"
     inkscape:zoom="26.458333"
     inkscape:cx="13.568504"
     inkscape:cy="12"
     inkscape:window-width="1920"
     inkscape:window-height="1015"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg4" />
  <g
     id="g831-3"
     transform="matrix(0.91706139,0,0,0.91706139,0.8281553,0.44343634)"
     style="stroke-width:1.09044">
    <path
       fill-rule="evenodd"
       d="M 10,18 A 8,8 0 1 0 10,2 8,8 0 0 0 10,18 Z M 8.707,7.293 A 1,1 0 0 0 7.293,8.707 L 8.586,10 7.293,11.293 a 1,1 0 1 0 1.414,1.414 L 10,11.414 l 1.293,1.293 a 1,1 0 0 0 1.414,-1.414 L 11.414,10 12.707,8.707 A 1,1 0 0 0 11.293,7.293 L 10,8.586 Z"
       clip-rule="evenodd"
       id="path2"
       style="stroke-width:1.18906" />
  </g>
</svg>
</template>