<template>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="24px" class="w-6 h-6 mr-1 -ml-2">
		<path
			fill-rule="evenodd"
			d="M 5.0063976,5.408829 A 0.71337177,0.65587631 0 0 1 5.7197694,4.7529527 h 8.5604616 a 0.71337177,0.65587631 0 0 1 0.713371,0.6558763 v 1.967629 a 0.71337177,0.65587631 0 0 1 -0.209018,0.4637045 l -3.35784,3.0872095 v 2.351973 a 0.71337177,0.65587631 0 0 1 -0.209018,0.463704 L 9.7909821,15.054802 A 0.71337177,0.65587631 0 0 1 8.5732565,14.591097 V 10.927372 L 5.2154155,7.8401625 A 0.71337177,0.65587631 0 0 1 5.0063976,7.376458 Z"
			clip-rule="evenodd"
			id="path2"
			style="stroke-width:1" />	
	</svg>
</template>