<template>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="24px" class="h-5 mr-3 text-gray-600">
		<path
			fill-rule="evenodd"
			d="m 18.618,8 a 6,6 0 0 1 -7.743,5.743 L 10.618,14 l -1,1 -1,1 h -2 v 2 h -4 V 14 L 6.875,9.743 A 6,6 0 1 1 18.618,8 Z m -6,-4 a 1,1 0 1 0 0,2 2,2 0 0 1 2,2 1,1 0 1 0 2,0 4,4 0 0 0 -4,-4 z"
			clip-rule="evenodd"
			id="path956" />	
	</svg>
</template>