<template>
    <li class="flex items-center text-blue-500">
		<Link :href="route('dashboard')" class="text-gray-700" >Dashboard</Link>
		<svg class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
	</li>
	
	<li class="flex items-center text-blue-500" v-for="(item, index) in breadcrumb" :key="index">
		<Link v-if="item.route == '#'" :href="item.route" class="text-gray-700" >{{item.titel}}</Link>
		<Link v-else :href="route(item.route)" class="text-gray-700" >{{item.titel}}</Link>
		<svg v-if="(breadcrumb.length - 1) != index" class="fill-current w-3 h-3 mx-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
	</li>


</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: {
			breadcrumb: {
				type: Object,
				default: {}
			},
        },

        mounted() {
            //
        }
    })
</script>
