<template>
	<div class="flex flex-col items-center justify-center mt-16" style="">
		<div class="flex flex-col items-center justify-center">
			<!--<svg width="125" height="110" viewBox="0 0 125 110" fill="none" xmlns="http://www.w3.org/2000/svg" class="mt-5 mb-4">
			<g clip-path="url(#clip0)">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M46.8031 84.4643C46.8031 88.8034 43.3104 92.3215 39.0026 92.3215C34.6948 92.3215 31.2021 88.8034 31.2021 84.4643C31.2021 80.1252 34.6948 76.6072 39.0026 76.6072C43.3104 76.6072 46.8031 80.1252 46.8031 84.4643Z" fill="#817AE3"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M60.4536 110H64.3539V72.6785H60.4536V110Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M85.8055 76.6072H70.2045C69.1319 76.6072 68.2544 77.4911 68.2544 78.5715V82.5C68.2544 83.5804 69.1319 84.4643 70.2045 84.4643H85.8055C86.878 84.4643 87.7556 83.5804 87.7556 82.5V78.5715C87.7556 77.4911 86.878 76.6072 85.8055 76.6072ZM70.2045 82.5H85.8055V78.5715H70.2045V82.5Z" fill="#817AE3"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M91.6556 1.96429C94.8811 1.96429 97.506 4.60821 97.506 7.85714V19.6429H83.8181L85.308 21.6071H99.4561V7.85714C99.4561 3.53571 95.9459 0 91.6556 0H33.152C28.8618 0 25.3516 3.53571 25.3516 7.85714V21.6071H39.3203L40.8745 19.6429H27.3017V7.85714C27.3017 4.60821 29.9265 1.96429 33.152 1.96429H91.6556Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M122.858 92.3213H117.007C115.935 92.3213 115.057 93.2052 115.057 94.2856V102.143C115.057 103.223 115.935 104.107 117.007 104.107H122.858C123.93 104.107 124.808 103.223 124.808 102.143V94.2856C124.808 93.2052 123.93 92.3213 122.858 92.3213ZM117.007 102.143H122.858V94.2856H117.007V102.143Z" fill="#817AE3"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M103.356 43.2142V70.7142H21.4511V43.2142H26.1821V41.2498H19.501V72.6783H105.306V41.2498H98.3541L98.2839 43.2142H103.356Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M101.406 21.6071C104.632 21.6071 107.257 24.251 107.257 27.5V41.25H98.2257L98.0853 43.2142H109.207V27.5C109.207 23.1609 105.714 19.6428 101.406 19.6428H83.8182L85.0878 21.6071H101.406ZM40.8746 19.6428H23.4016C19.0937 19.6428 15.6011 23.1609 15.6011 27.5V43.2142H26.1961L26.3365 41.25H17.5512V27.5C17.5512 24.251 20.1761 21.6071 23.4016 21.6071H39.3204L40.8746 19.6428Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M62.4041 9.82153C45.1709 9.82153 31.2021 23.8917 31.2021 41.2501C31.2021 58.6085 45.1709 72.6787 62.4041 72.6787C79.6373 72.6787 93.606 58.6085 93.606 41.2501C93.606 23.8917 79.6373 9.82153 62.4041 9.82153ZM62.4041 11.7858C78.5335 11.7858 91.6559 25.0035 91.6559 41.2501C91.6559 57.4967 78.5335 70.7144 62.4041 70.7144C46.2746 70.7144 33.1523 57.4967 33.1523 41.2501C33.1523 25.0035 46.2746 11.7858 62.4041 11.7858Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M62.4041 19.6428C45.1709 19.6428 31.2021 23.8916 31.2021 41.25C31.2021 58.6084 45.1709 66.7857 62.4041 66.7857C79.6373 66.7857 93.606 58.6084 93.606 41.25C93.606 23.8916 79.6373 19.6428 62.4041 19.6428ZM62.4041 21.6071C82.6346 21.6071 91.6559 27.665 91.6559 41.25C91.6559 56.0096 80.7216 64.8214 62.4041 64.8214C44.0866 64.8214 33.1523 56.0096 33.1523 41.25C33.1523 27.665 42.1735 21.6071 62.4041 21.6071Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M101.406 70.7144H23.4014C10.478 70.7144 0 81.2685 0 94.2858V110H124.808V94.2858C124.808 81.2685 114.33 70.7144 101.406 70.7144ZM101.406 72.6786C113.234 72.6786 122.858 82.3724 122.858 94.2858V108.036H1.95012V94.2858C1.95012 82.3724 11.574 72.6786 23.4014 72.6786H101.406Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M33.152 33.3928H29.2518C27.0969 33.3928 25.3516 35.1509 25.3516 37.3214V45.1785C25.3516 47.3491 27.0969 49.1071 29.2518 49.1071H33.152V33.3928ZM31.2019 35.3571V47.1428H29.2518C28.1773 47.1428 27.3017 46.2609 27.3017 45.1785V37.3214C27.3017 36.2391 28.1773 35.3571 29.2518 35.3571H31.2019Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M95.556 33.3928H91.6558V49.1071H95.556C97.7109 49.1071 99.4562 47.3491 99.4562 45.1785V37.3214C99.4562 35.1509 97.7109 33.3928 95.556 33.3928ZM95.556 35.3571C96.6305 35.3571 97.5061 36.2391 97.5061 37.3214V45.1785C97.5061 46.2609 96.6305 47.1428 95.556 47.1428H93.6059V35.3571H95.556Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M94.581 15.7144C94.0447 15.7144 93.606 16.1563 93.606 16.6965V34.3751C93.606 34.9152 94.0447 35.3572 94.581 35.3572C95.1173 35.3572 95.5561 34.9152 95.5561 34.3751V16.6965C95.5561 16.1563 95.1173 15.7144 94.581 15.7144Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M38.0273 41.2499C37.4891 41.2499 37.0522 40.8099 37.0522 40.2678C37.0522 33.3142 44.1409 25.5356 53.6283 25.5356C54.1665 25.5356 54.6033 25.9756 54.6033 26.5178C54.6033 27.0599 54.1665 27.4999 53.6283 27.4999C45.2564 27.4999 39.0024 34.2414 39.0024 40.2678C39.0024 40.8099 38.5655 41.2499 38.0273 41.2499Z" fill="#817AE3"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M97.5059 110H99.456V72.6785H97.5059V110Z" fill="#55547A"></path>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M25.3516 110H27.3017V72.6785H25.3516V110Z" fill="#55547A"></path>
			</g>
			<defs>
				<clipPath id="clip0">
				<rect width="124.808" height="110" fill="white"></rect>
				</clipPath>
			</defs>
			</svg>-->
			<svg
				width="225"
				height="210"
				viewBox="0 0 125 110"
				fill="none"
				class="mt-5 mb-4"
				version="1.1"
				id="svg41"
				sodipodi:docname="empty.svg"
				inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:svg="http://www.w3.org/2000/svg">
				<sodipodi:namedview
					id="namedview43"
					pagecolor="#ffffff"
					bordercolor="#111111"
					borderopacity="1"
					inkscape:pageshadow="0"
					inkscape:pageopacity="0"
					inkscape:pagecheckerboard="1"
					showgrid="false"
					inkscape:zoom="2.8863636"
					inkscape:cx="2.7716535"
					inkscape:cy="61.496063"
					inkscape:window-width="1920"
					inkscape:window-height="1015"
					inkscape:window-x="0"
					inkscape:window-y="0"
					inkscape:window-maximized="1"
					inkscape:current-layer="svg41" />
				<defs
					id="defs39">
					<clipPath
					id="clip0">
					<rect
						width="124.808"
						height="110"
						fill="white"
						id="rect36" />
					</clipPath>
					<linearGradient
					x1="284.06639"
					y1="170.85017"
					x2="17.004107"
					y2="170.85017"
					id="a"
					gradientTransform="scale(0.9765415,1.024022)"
					gradientUnits="userSpaceOnUse">
					<stop
						stop-color="#DC818F"
						stop-opacity="0"
						offset="22.69%"
						id="stop4" />
					<stop
						stop-color="#DC818F"
						offset="86.98%"
						id="stop6" />
					</linearGradient>
					<linearGradient
					x1="77.933493"
					y1="6.576569"
					x2="77.933493"
					y2="161.41631"
					id="b"
					gradientTransform="scale(0.83841005,1.1927338)"
					gradientUnits="userSpaceOnUse">
					<stop
						stop-color="#FFF"
						offset=".129%"
						id="stop9" />
					<stop
						stop-color="#FFF"
						stop-opacity=".4"
						offset="50.46%"
						id="stop11" />
					<stop
						stop-color="#FFF"
						stop-opacity=".1"
						offset="97.9%"
						id="stop13" />
					</linearGradient>
				</defs>
				<g
					class="stars"
					fill-rule="evenodd"
					id="g130"
					transform="matrix(0.09729243,0,0,0.09729243,8.189699,17.654582)"
					style="stroke-width:10.2783">
					<circle
					cx="75"
					cy="212"
					r="2"
					id="circle18"
					style="stroke-width:10.2783" />
					<circle
					cx="117.5"
					cy="300.5"
					r="1.5"
					id="circle20"
					style="stroke-width:10.2783" />
					<circle
					cx="148"
					cy="251"
					r="2"
					id="circle22"
					style="stroke-width:10.2783" />
					<circle
					cx="197"
					cy="140"
					r="1"
					id="circle24"
					style="stroke-width:10.2783" />
					<circle
					cx="205"
					cy="192"
					r="2"
					id="circle26"
					style="stroke-width:10.2783" />
					<circle
					cx="247.5"
					cy="280.5"
					r="1.5"
					id="circle28"
					style="stroke-width:10.2783" />
					<circle
					cx="278"
					cy="231"
					r="2"
					id="circle30"
					style="stroke-width:10.2783" />
					<circle
					cx="208"
					cy="161"
					r="2"
					id="circle32"
					style="stroke-width:10.2783" />
					<circle
					cx="238"
					cy="59"
					r="2"
					id="circle34"
					style="stroke-width:10.2783" />
					<circle
					cx="168"
					cy="359"
					r="2"
					id="circle36"
					style="stroke-width:10.2783" />
					<circle
					cx="147"
					cy="319"
					r="2"
					id="circle38"
					style="stroke-width:10.2783" />
					<circle
					cx="67.5"
					cy="120.5"
					r="1.5"
					id="circle40"
					style="stroke-width:10.2783" />
					<circle
					cx="98"
					cy="71"
					r="2"
					id="circle42"
					style="stroke-width:10.2783" />
					<circle
					cx="327"
					cy="120"
					r="1"
					id="circle44"
					style="stroke-width:10.2783" />
					<circle
					cx="448"
					cy="212"
					r="2"
					id="circle46"
					style="stroke-width:10.2783" />
					<circle
					cx="490.5"
					cy="300.5"
					r="1.5"
					id="circle48"
					style="stroke-width:10.2783" />
					<circle
					cx="521"
					cy="251"
					r="2"
					id="circle50"
					style="stroke-width:10.2783" />
					<circle
					cx="570"
					cy="140"
					r="1"
					id="circle52"
					style="stroke-width:10.2783" />
					<circle
					cx="578"
					cy="192"
					r="2"
					id="circle54"
					style="stroke-width:10.2783" />
					<circle
					cx="620.5"
					cy="280.5"
					r="1.5"
					id="circle56"
					style="stroke-width:10.2783" />
					<circle
					cx="651"
					cy="231"
					r="2"
					id="circle58"
					style="stroke-width:10.2783" />
					<circle
					cx="581"
					cy="161"
					r="2"
					id="circle60"
					style="stroke-width:10.2783" />
					<circle
					cx="611"
					cy="59"
					r="2"
					id="circle62"
					style="stroke-width:10.2783" />
					<circle
					cx="541"
					cy="359"
					r="2"
					id="circle64"
					style="stroke-width:10.2783" />
					<circle
					cx="520"
					cy="319"
					r="2"
					id="circle66"
					style="stroke-width:10.2783" />
					<circle
					cx="440.5"
					cy="120.5"
					r="1.5"
					id="circle68"
					style="stroke-width:10.2783" />
					<circle
					cx="471"
					cy="71"
					r="2"
					id="circle70"
					style="stroke-width:10.2783" />
					<circle
					cx="700"
					cy="120"
					r="1"
					id="circle72"
					style="stroke-width:10.2783" />
					<circle
					cx="125"
					cy="572"
					r="2"
					id="circle74"
					style="stroke-width:10.2783" />
					<circle
					cx="167.5"
					cy="660.5"
					r="1.5"
					id="circle76"
					style="stroke-width:10.2783" />
					<circle
					cx="198"
					cy="611"
					r="2"
					id="circle78"
					style="stroke-width:10.2783" />
					<circle
					cx="247"
					cy="500"
					r="1"
					id="circle80"
					style="stroke-width:10.2783" />
					<circle
					cx="255"
					cy="552"
					r="2"
					id="circle82"
					style="stroke-width:10.2783" />
					<circle
					cx="297.5"
					cy="640.5"
					r="1.5"
					id="circle84"
					style="stroke-width:10.2783" />
					<circle
					cx="328"
					cy="591"
					r="2"
					id="circle86"
					style="stroke-width:10.2783" />
					<circle
					cx="258"
					cy="521"
					r="2"
					id="circle88"
					style="stroke-width:10.2783" />
					<circle
					cx="288"
					cy="419"
					r="2"
					id="circle90"
					style="stroke-width:10.2783" />
					<circle
					cx="117.5"
					cy="480.5"
					r="1.5"
					id="circle92"
					style="stroke-width:10.2783" />
					<circle
					cx="148"
					cy="431"
					r="2"
					id="circle94"
					style="stroke-width:10.2783" />
					<circle
					cx="377"
					cy="480"
					r="1"
					id="circle96"
					style="stroke-width:10.2783" />
					<circle
					cx="498"
					cy="572"
					r="2"
					id="circle98"
					style="stroke-width:10.2783" />
					<circle
					cx="540.5"
					cy="660.5"
					r="1.5"
					id="circle100"
					style="stroke-width:10.2783" />
					<circle
					cx="571"
					cy="611"
					r="2"
					id="circle102"
					style="stroke-width:10.2783" />
					<circle
					cx="620"
					cy="500"
					r="1"
					id="circle104"
					style="stroke-width:10.2783" />
					<circle
					cx="628"
					cy="552"
					r="2"
					id="circle106"
					style="stroke-width:10.2783" />
					<circle
					cx="670.5"
					cy="640.5"
					r="1.5"
					id="circle108"
					style="stroke-width:10.2783" />
					<circle
					cx="701"
					cy="591"
					r="2"
					id="circle110"
					style="stroke-width:10.2783" />
					<circle
					cx="631"
					cy="521"
					r="2"
					id="circle112"
					style="stroke-width:10.2783" />
					<circle
					cx="661"
					cy="419"
					r="2"
					id="circle114"
					style="stroke-width:10.2783" />
					<circle
					cx="490.5"
					cy="480.5"
					r="1.5"
					id="circle116"
					style="stroke-width:10.2783" />
					<circle
					cx="521"
					cy="431"
					r="2"
					id="circle118"
					style="stroke-width:10.2783" />
					<circle
					cx="750"
					cy="480"
					r="1"
					id="circle120"
					style="stroke-width:10.2783" />
					<circle
					cx="481"
					cy="709"
					r="2"
					id="circle122"
					style="stroke-width:10.2783" />
					<circle
					cx="460"
					cy="669"
					r="2"
					id="circle124"
					style="stroke-width:10.2783" />
					<circle
					cx="118"
					cy="709"
					r="2"
					id="circle126"
					style="stroke-width:10.2783" />
					<circle
					cx="97"
					cy="669"
					r="2"
					id="circle128"
					style="stroke-width:10.2783" />
				</g>
				<g
					fill="none"
					fill-rule="evenodd"
					id="g250"
					transform="matrix(0.09729243,0,0,0.09729243,8.189699,17.654582)"
					style="stroke-width:10.2783">
					<!-- leg right -->
					<g
					class="leg-right"
					id="g142"
					style="stroke-width:10.2783">
					<path
						d="m 858.4,321.1 -91.4,50.4 -86.5,47.7 c -8.4,4.6 -17.5,6.8 -26.4,6.8 -19.3,0 -38.1,-10.2 -48.1,-28.4 -14.6,-26.5 -5,-59.9 21.5,-74.5 L 657,307 709.3,278.2 770.5,244.4 748,128.2 c -5.8,-29.7 13.6,-58.5 43.4,-64.3 13.3,-2.6 26.5,-0.1 37.5,6.1 13.5,7.6 23.6,20.9 26.8,37.3 l 30.2,155.4 c 4.4,23.3 -6.6,46.9 -27.5,58.4 z"
						fill="#dadae5"
						id="path132"
						style="stroke-width:10.7646" />
					<path
						d="M 858.4,321.1 767,371.5 C 743.8,363.7 711.7,352.4 692,344.9 677.3,339.3 663.1,322.8 656.9,307 L 686,291 c 60.8,5.1 89.7,40.9 89.7,40.9 0,0 48.3,-27.8 68.3,-38.3 20,-10.5 15,-18 12.5,-28.9 -1.2,-5.3 -8.8,-46.3 -16.5,-87.6 17.8,-7.6 24.4,-18.7 25.2,-20.1 l 20.5,105.7 c 4.6,23.3 -6.4,46.9 -27.3,58.4 z"
						fill="#aaaac1"
						id="path134"
						style="stroke-width:10.7646" />
					<path
						d="m 873.8,78.6 -21.2,7.4 12.8,70.8 c 0,0 0,0.1 -0.1,0.2 l -9.6,-49.7 C 852.5,90.9 842.3,77.7 828.9,70 c -9.3,4 -6.7,8.8 -5.3,16.5 0.8,4.6 8.7,47.8 16.6,90.5 -6.8,2.9 -15.2,5.3 -25.5,6.5 -39.4,4.6 -56.9,-5.4 -56.9,-5.4 L 735.8,58.7 878,19.5 908.7,11 c 0,0 16.4,47.9 -34.9,67.6 z"
						fill="#aaaac1"
						id="path136"
						style="stroke-width:10.7646" />
					<path
						d="m 873.8,78.6 -21.2,7.4 12.8,70.8 c 0,0 -6.2,12.1 -25.2,20.3 -7.9,-42.8 -15.8,-86 -16.6,-90.5 -1.6,-9 -4.9,-14 11.1,-18.5 41,-10.5 37.5,-31 36,-37 l 7.5,-11.5 30.7,-8.5 c -0.2,-0.1 16.2,47.8 -35.1,67.5 z"
						fill="#7e7e99"
						id="path138"
						style="stroke-width:10.7646" />
					<path
						d="m 869.5,45.8 c -11.6,5.4 -25.2,10.5 -40,14.7 -47.7,13.8 -89.5,13.7 -93.5,0.1 -3.7,-12.9 28.2,-33.4 72.4,-47.4 0,0 1.2,-0.3 2.4,-0.7 1.5,-0.5 3,-0.9 4.5,-1.3 47.7,-13.8 89.6,-13.8 93.5,-0.2 2.6,9.4 -13.4,22.9 -39.3,34.8 z"
						fill="#5f5f77"
						id="path140"
						style="stroke-width:10.7646" />
					</g>
					<!-- Body -->
					<g
					id="g158"
					style="stroke-width:10.2783">
					<path
						d="m 756.5,387.6 c -0.9,-68.7 -67.9,-118.7 -133.1,-97.2 -1.6,0.5 133.1,97.2 133.1,97.2 z"
						fill="#dadae5"
						id="path144"
						style="stroke-width:10.7646" />
					<path
						d="m 755,498 -227,96.3 c 0,0 -34.2,-15.1 -49,-50.1 -22.2,-52.4 -24.8,-133.4 6.9,-147.9 11,-5.1 22.6,-10.3 34.6,-15.5 48.7,-21.2 103.7,-42.7 147.8,-53.9 45.7,-11.6 91,6.2 115.2,40.8 0,0 6.8,10.3 8.1,23.8 1.3,13.5 10.6,92.3 10.6,92.3 z"
						fill="#ffffff"
						id="path146"
						style="stroke-width:10.7646" />
					<path
						d="m 793.6,429 c 0,0 -14.5,-31.1 -52.3,-20 -42,12.3 -32.4,35.8 -91.2,58.9 -21,8.3 -49.6,19.9 -76.9,31.3 v -0.1 c -22.5,9.6 -29.3,3.7 -35.3,-4.6 C 530.3,483.9 525,474.4 525,474.4 l -38.7,15.9 c 0,0 -11.6,18.7 -4.1,37.2 7.5,18.5 20.5,32.8 20.5,32.8 l 15,19.9 c 0.8,1.2 1.7,2.5 2.7,3.7 l 8.1,10.4 L 755,498 802,483.9 Z"
						fill="#dadae5"
						id="path148"
						style="stroke-width:10.7646" />
					<path
						d="m 721.7,385.8 c 0.1,4.7 -2.7,8.9 -7.1,10.7 l -194.5,79.9 -7.1,2.9 -23.2,9.5 -4.2,1.7 -11.1,4.5 c -4.5,1.9 -9.5,-1.4 -9.6,-6.3 l -0.2,-34 c 0,-2.2 -1.1,-4.3 -2.9,-5.5 L 357.1,375.7 c -4.5,-3.2 -3.7,-10 1.4,-12 l 50.3,-20.7 12.5,-5.1 29.7,-12.2 7.8,-3.2 138.9,-57 c 3.6,-1.5 7.7,-1 10.9,1.2 l 108,75.8 c 3,2.1 4.7,5.5 4.8,9.1 z"
						fill="#ffffff"
						id="path150"
						style="stroke-width:10.7646" />
					<path
						d="m 721.7,385.8 c 0.1,4.7 -2.7,8.9 -7.1,10.7 l -204.5,84 -26.6,10.9 -9.1,3.7 c -4.5,1.9 -9.5,-1.4 -9.6,-6.3 l -0.2,-34 c 0,-2.2 -1.1,-4.3 -2.9,-5.5 l 3.3,2.3 c -4.4,-3.2 -3.7,-10 1.4,-12 l 15.8,-6.5 31.8,-13 191.7,-78.7 c 3.6,-1.5 8,-0.8 10.9,1.2 2.9,2.1 4.7,5.5 4.8,9.1 z"
						fill="#dadae5"
						id="path152"
						style="stroke-width:10.7646" />
					<path
						d="m 525,474.4 -41.4,17 c 1.2,-8.2 1.8,-16.6 1.8,-25.1 0,-11.4 -1.1,-22.4 -3.2,-33.2 L 525,415.5 Z"
						fill="#aaaac1"
						id="path154"
						style="stroke-width:10.7646" />
					<path
						d="M 481.8,433.3 C 472.7,395.1 451,361.7 421.3,337.9 l 23.6,-9.7 c 28.3,10.8 70,51.3 80.2,87.3 z"
						fill="#dadae5"
						id="path156"
						style="stroke-width:10.7646" />
					</g>
					<!-- Leg left -->
					<g
					class="leg-left"
					transform="translate(783,64)"
					id="g172"
					style="stroke-width:10.2783">
					<path
						d="m 0.4,303.7 c 0,0 0,0.1 0,0 l 17.2,-5.2 94.1,-28.6 59.3,-153.1 c 0,0 20.8,-37.8 69.2,-23.8 5.3,1.5 9.8,3.3 13.8,5.3 32.5,16.4 24.4,46.1 24.4,46.1 0,0 -66,184.4 -71.5,197.3 -5.5,12.9 -14.3,24.6 -46.5,35.1 -20.8,6.8 -142.2,43.3 -142.2,43.3 z"
						fill="#ffffff"
						id="path160"
						style="stroke-width:10.7646" />
					<path
						d="m 382.7,67.2 c 0,0 -11.3,51 -66,41.2 l -22.2,-4.7 -25.9,67.9 c 0,0 -15,9.2 -41.1,2.6 -5.2,-1.3 -10.7,-3.2 -16.7,-6 -36.4,-16.6 -46.4,-34.4 -46.4,-34.4 L 207.8,19.1 340.2,55.5 Z"
						fill="#dadae5"
						id="path162"
						style="stroke-width:10.7646" />
					<path
						d="m 10.6,365 c 0,0 141.6,-34.1 146.7,-35.7 7.3,-2.3 14.7,-3.7 21,-26 5.5,-19.5 53.1,-149.2 68,-192.3 32.5,16.4 32.1,33.5 32.1,33.5 0,0 -66,184.4 -71.5,197.3 -5.5,12.9 -14.3,24.6 -46.5,35.1 L 19.1,420 C 3.2,408.3 -1.5,386.7 8.1,369.5 l 2.5,-4.5"
						fill="#dadae5"
						id="path164"
						style="stroke-width:10.7646" />
					<path
						d="m 382.7,67.2 c 0,0 -11.3,51 -66,41.2 l -22.2,-4.7 -25.9,67.9 c 0,0 -14.4,10.9 -44.5,1.7 15.4,-44 31.9,-81.5 33.8,-86.6 3.9,-10.1 8.7,-15 25.7,-9.3 17,5.7 25.7,7.7 30.7,-12 1.7,-6.8 12.5,-9.4 25.8,-9.8 z"
						fill="#aaaac1"
						id="path166"
						style="stroke-width:10.7646" />
					<ellipse
						fill="#7e7e99"
						transform="rotate(-74.93,295.346,42.94)"
						cx="295.34601"
						cy="42.942001"
						rx="19.700001"
						ry="90.800003"
						id="ellipse168"
						style="stroke-width:10.7646" />
					<path
						d="m 12.3,328.4 c -1.2,1.5 -3.6,0.8 -3.8,-1.1 -0.6,-5.3 -2.4,-14.2 -8,-23.5 l 17.1,-5.2 c 1.8,6 3.6,18.3 -5.3,29.8 z"
						fill="#dadae5"
						id="path170"
						style="stroke-width:10.7646" />
					</g>
					<!-- Arm left-->
					<g
					class="arm-left"
					id="g186"
					style="stroke-width:10.2783">
					<path
						d="m 584.9,697.3 c -4.4,13.3 -15.1,23.6 -28.6,27.5 l -133.9,38.2 -33.3,9.5 c -3.9,1.1 -7.8,1.6 -11.7,1.6 -12.2,0 -23.8,-5.4 -31.8,-14.4 -0.3,-0.3 -0.5,-0.6 -0.8,-0.9 -3,-3.6 -5.4,-7.7 -7.1,-12.2 -0.4,-1.1 -0.8,-2.1 -1.1,-3.2 -2.7,-9.6 -1.9,-19.4 1.6,-27.9 4.8,-11.5 14.6,-20.8 27.5,-24.5 l 16,-4.6 85.5,-24.4 h 0.2 l 5.6,-1.6 -0.1,-0.1 -60.8,-79.3 -0.1,-0.1 c -14.1,-18.5 3.6,-26.6 22.2,-40.8 l 36.7,-19.8 101,129.7 6.4,8.2 c 8.5,11.1 11,25.8 6.6,39.1 z"
						fill="#ffffff"
						id="path174"
						style="stroke-width:10.7646" />
					<path
						d="m 345.4,718.6 -7.2,-3.2 -14.3,-6.3 c -7.1,-3.1 -17,-1.3 -23.7,0.8 -2.8,0.9 -5,1.8 -6.2,2.3 -11.5,5.6 -18,15.6 -18,27.4 0,8.1 6.6,14.7 14.7,14.7 1,0 2,-0.1 3,-0.3 6.7,-1.4 11.7,-7.3 11.7,-14.4 1.2,-1.3 5.7,-2.5 8.7,-2.8 l 19.5,8.6 c 1.4,0.6 2.8,1 4.1,1.1 3,0.4 6,-0.2 8.6,-1.6 0.5,-0.2 1,-0.5 1.4,-0.8 1.5,-1 2.8,-2.3 3.9,-3.9 0.5,-0.7 0.9,-1.5 1.3,-2.3 0.5,-1.1 0.8,-2.2 1,-3.3 1.2,-6.4 -2.2,-13.1 -8.5,-16 z"
						fill="#aaaac1"
						id="path176"
						style="stroke-width:10.7646" />
					<path
						d="m 422.4,763 c -0.1,0.2 -0.2,0.2 -0.2,0.2 l -28.8,8.3 c -20.6,5.8 -22.3,13.4 -22.3,20.2 0,7.1 0.3,10.9 -9.3,13.9 -3.2,1 -6,1.3 -9,1.3 -4.5,0 -9.2,-1.9 -16,-6.3 -15.1,-9.8 -28.1,-22.5 -32.9,-27.3 -5.1,-5.1 -9.2,-10.3 -10.3,-19.4 -0.2,-1.6 -0.3,-3.3 -0.3,-5.2 0,-5.2 0.2,-6.7 0.2,-15.9 0,-8 0.9,-16.6 6.6,-23 3.2,-3.5 7.8,-6.4 14.6,-8.2 14,-3.6 33.4,-8.2 66.9,-15.4 0.3,-0.1 0.6,-0.1 0.9,-0.2 0,0 34.4,2.3 44.2,29.4 0.3,0.8 0.6,1.7 0.8,2.6 8,27.5 -3.4,42.9 -5.1,45 z"
						fill="#dadae5"
						id="path178"
						style="stroke-width:10.7646" />
					<path
						d="m 427.4,717.5 c 39.3,-11.4 89.2,-23.4 119.5,-31.4 25,-6.6 28.5,-21.7 25,-36.1 l 6.4,8.2 c 8.5,11.1 11,25.8 6.6,39.1 -4.4,13.3 -15.1,23.6 -28.6,27.5 L 422.4,763 c -0.1,0.2 -1.3,-2.1 -1.3,-2.1 z"
						fill="#dadae5"
						id="path180"
						style="stroke-width:10.7646" />
					<path
						d="m 363.7,735 c -11.3,3.2 -19,8.1 -19,19.4 0,11.3 0.1,32.6 0.1,32.6 0,0 -0.7,17.8 8,20 2.9,0 5.8,-0.3 9,-1.3 9.6,-3 9.3,-6.7 9.3,-13.9 0,-6.8 1.6,-14.4 22.3,-20.2 l 28.8,-8.3 0.2,-0.2 c 1.7,-2.1 13.1,-17.5 5.2,-44.8 -0.1,-0.2 -0.1,-0.4 -0.2,-0.7 z"
						fill="#aaaac1"
						id="path182"
						style="stroke-width:10.7646" />
					<path
						d="m 486.3,490.3 -74.1,90.6 c 0,0.1 60.8,79.4 60.8,79.4 l 13,-4 c 9.8,-3 13.5,-15 6.9,-22.9 l -11.1,-15.8 c -11,-15.7 -27,-40.1 -13.2,-56.5 3.2,-3.8 7.5,-6.4 12.1,-7.8 9.1,-2.8 16.6,-0.1 22,7.1 0,0 6.7,-19.1 6.7,-40 0,-21.1 -23.1,-30.1 -23.1,-30.1 z"
						fill="#dadae5"
						id="path184"
						style="stroke-width:10.7646" />
					</g>
					<!-- Arm right-->
					<g
					class="arm-right"
					id="g198"
					style="stroke-width:10.2783">
					<path
						d="m 32.3,563.9 c 7.4,5.3 16,7.8 24.4,7.8 4.4,0 8.8,-0.7 13,-2 8.5,-2.7 16.1,-8.1 21.7,-15.9 l 57.9,-81.9 71.9,23.3 63.8,20.6 c 22.3,7.2 46.2,-5 53.4,-27.3 7.2,-22.3 -5,-46.2 -27.3,-53.4 L 145.8,381.6 c -17.7,-5.7 -37,0.7 -47.7,15.9 l -76,107.3 c -13.5,19.1 -8.9,45.5 10.2,59.1 z"
						fill="#dadae5"
						id="path188"
						style="stroke-width:10.7646" />
					<path
						d="M 154.2,436.3 255,467.1 c 0,0 -14,11.8 -33.9,28 L 149.2,471.8 122,510.5 c 0,-2.2 -0.6,-17.8 -15.6,-32.4 9.5,-12.6 19.4,-25.7 26.1,-34.7 5,-6.7 13.7,-9.5 21.7,-7.1 z"
						fill="#aaaac1"
						id="path190"
						style="stroke-width:10.7646" />
					<path
						d="m 0.8,547.2 v 12.7 c 0,15.5 6.5,25.1 17.9,25.1 h 56 c 3.7,0 6.8,-0.7 8.2,-1.1 8.1,-2.1 14.7,-10.3 14.7,-21.4 0,-2.5 -0.4,-4 -0.3,-7.9 0.1,-6.6 -0.5,-7.5 5.5,-16.9 0.1,-0.2 0.3,-0.4 0.4,-0.7 0,0 1.6,-2.2 3.8,-5.2 l 15.1,-21.3 c 0,-2.2 -0.6,-17.8 -15.6,-32.4 -2.5,-2.4 -5.4,-4.9 -8.9,-7.2 -25.4,-17.3 -55.1,4 -55.1,4 C 20.9,502.2 22.2,500.4 13.6,512.2 2.1,528 0.8,535.1 0.8,547.2 Z"
						fill="#aaaac1"
						id="path192"
						style="stroke-width:10.7646" />
					<path
						d="m 74.2,580.2 c 4.9,4.3 12.3,3.6 16.9,-1 3.9,-3.9 6.5,-9.7 6.5,-16.9 0,-2.5 -0.4,-3.9 -0.3,-7.8 0.1,-6.6 -0.5,-7.4 5.5,-16.8 0.1,-0.2 0.3,-0.4 0.4,-0.6 0,0 1.6,-2.2 3.8,-5.2 l 15.1,-21.3 c 0,-2.2 -0.6,-17.8 -15.6,-32.4 -12.4,16.5 -24.3,32.2 -28,36.8 -8.7,10.9 -7.6,16 -7.6,33 -0.2,12 -4.3,25.5 3.3,32.2 z"
						fill="#7e7e99"
						id="path194"
						style="stroke-width:10.7646" />
					<path
						d="m 122.8,566.8 c 5.3,-1.1 9.6,-5.3 10.4,-10.9 l 1.1,-8 c 0,-0.3 0.1,-0.6 0.1,-1 0.7,-9.7 -3.5,-20 -10.7,-26.7 -7.5,-7 -17.7,-9.9 -28.7,-8.4 -7.1,1 -12.1,7.6 -11.1,14.8 1,7.1 7.6,12.1 14.8,11.1 4.8,-0.7 6.7,1.1 7.3,1.6 1.6,1.5 2.5,3.9 2.5,5.5 l -1.1,7.3 c -1,7.1 3.9,13.7 11.1,14.8 1.4,0.2 2.9,0.2 4.3,-0.1 z"
						fill="#7e7e99"
						id="path196"
						style="stroke-width:10.7646" />
					</g>
					<!-- Hemlet -->
					<g
					id="g208"
					style="stroke-width:10.2783">
					<path
						d="m 443.3,475.3 c 0,58 -32.6,108.5 -80.4,134.2 -10.5,2.1 -21.3,3.3 -32.4,3.3 -90.4,0 -163.7,-73.3 -163.7,-163.7 0,-34 10.4,-65.6 28.2,-91.8 26.2,-21.4 59.6,-34.2 96,-34.2 84,-0.1 152.3,68.2 152.3,152.2 z"
						fill="#1a0029"
						id="path200"
						style="stroke-width:10.7646" />
					<path
						d="m 291,301.9 c -14.4,0 -28.5,1.8 -41.9,5.1 24,-13.8 51.7,-21.7 81.3,-21.7 90.4,0 163.7,73.3 163.7,163.7 0,53.1 -25.3,100.3 -64.5,130.2 21.8,-29 34.7,-65 34.7,-104 C 464.4,379.7 386.6,301.9 291,301.9 Z"
						fill="#babacc"
						id="path202"
						style="stroke-width:10.7646" />
					<path
						d="m 291,323 c -36.4,0 -69.8,12.8 -96,34.2 6.1,-9 13.1,-17.4 20.9,-25.1 9.9,-9.7 21.1,-18.2 33.2,-25.1 13.4,-3.3 27.4,-5.1 41.9,-5.1 95.6,0 173.4,77.8 173.4,173.4 0,39 -12.9,75 -34.7,104 -9.4,7.2 -19.5,13.3 -30.3,18.4 -11.5,5.3 -23.7,9.3 -36.5,11.9 47.8,-25.7 80.4,-76.2 80.4,-134.2 C 443.3,391.3 375,323 291,323 Z"
						fill="#dadae5"
						id="path204"
						style="stroke-width:10.7646" />
					<path
						d="m 16.6,167 c 0,77.7 72.6,144.7 142.8,144.7 28.1,0 54.8,-4.4 77.2,-18 38.3,-44.9 43.7,-84.4 39.7,-122.4 C 272.5,145.8 260.6,100.1 210,64 163.7,32.5 112.5,34.1 75.1,46.4 37,73.2 16.6,117 16.6,167 Z"
						fill="url(#a)"
						opacity="0.22"
						transform="translate(166,285)"
						id="path206"
						style="fill:url(#a);stroke-width:10.7646" />
					</g>
					<!-- Face -->
					<g
					class="face"
					transform="translate(181,344)"
					id="g248"
					style="stroke-width:10.2783">
					<path
						d="m 248.7,125.6 c 0,4.9 -0.3,9.6 -0.9,14.3 -1.6,12.4 -5.2,24.2 -10.5,34.9 -17.2,34.8 -52.1,58.6 -92.2,58.6 -6.9,0 -13.7,-0.7 -20.3,-2.1 C 77.2,221.5 41.4,178 41.4,125.6 41.4,96.2 52.8,69.5 71.2,50 90,30.1 116.2,17.8 145.1,17.8 c 57.2,0 103.6,48.3 103.6,107.8 z"
						fill="#422c4f"
						id="path210"
						style="stroke-width:10.7646" />
					<path
						d="m 41.4,125.6 c 0,52.3 35.8,95.9 83.4,105.6 48.2,-3.9 86.1,-45.7 86.1,-96.8 0,-53.7 -41.9,-97.2 -93.5,-97.2 -16.8,0 -32.6,4.6 -46.3,12.7 -18.4,19.6 -29.7,46.2 -29.7,75.7 z"
						fill="#a56d8a"
						id="path212"
						style="stroke-width:10.7646" />
					<path
						d="m 76.7,81.9 c 28.1,2.1 79.2,-4.2 106,-7.9 3.1,-0.4 5.8,-0.4 8.3,0 26.6,4.3 25.2,51.2 43.7,51.2 34,0 16.7,-36.1 16.4,-38.2 C 241.9,26 201.4,16.8 150.4,17.2 149.2,17.2 119.2,-2.3 95.1,1.3 93.6,1.5 92,1.8 90.6,2.3 74.3,7 58.6,31.1 54,47.5 49.8,62.6 56,80.3 76.7,81.9 Z"
						fill="#1a0029"
						id="path214"
						style="stroke-width:10.7646" />
					<path
						d="m 76.7,81.9 c 28.1,2.1 79.2,-4.2 106,-7.9 3.1,-0.4 5.8,-0.4 8.3,0 C 188,61.1 177.9,52 168.3,48.5 158.7,45 141.9,37.4 139.5,25.2 136.2,8.3 121.8,0.8 95.2,1.3 93.7,1.5 92.1,1.8 90.7,2.3 74.4,7 58.7,31.1 54.1,47.5 49.8,62.6 56,80.3 76.7,81.9 Z"
						fill="#3f3249"
						id="path216"
						style="stroke-width:10.7646" />
					<g
						class="eye-left"
						id="g222"
						style="stroke-width:10.2783">
						<path
						d="m 140.1,156.8 c 0,3.2 -2.4,5.9 -5.5,6.4 -0.3,0.1 -0.7,0.1 -1.1,0.1 -3.6,0 -6.5,-2.9 -6.5,-6.5 0,-2.4 1.3,-4.4 3.1,-5.6 1,-0.6 2.1,-0.9 3.4,-0.9 3.7,-0.1 6.6,2.9 6.6,6.5 z"
						fill="#1a0029"
						id="path218"
						style="stroke-width:10.7646" />
						<path
						d="m 137.8,157.6 c 0,2.4 -1.3,4.4 -3.2,5.6 -0.3,0.1 -0.7,0.1 -1.1,0.1 -3.6,0 -6.5,-2.9 -6.5,-6.5 0,-2.4 1.3,-4.4 3.1,-5.6 0.3,-0.1 0.7,-0.1 1.1,-0.1 3.7,0 6.6,2.9 6.6,6.5 z"
						fill="#422c4f"
						id="path220"
						style="stroke-width:10.7646" />
					</g>
					<g
						class="eye-right"
						id="g228"
						style="stroke-width:10.2783">
						<path
						d="m 67.6,136.1 c 0,3.6 -2.9,6.5 -6.5,6.5 h -0.5 c -3.4,-0.2 -6,-3.1 -6,-6.5 0,-2.7 1.6,-5 3.9,-6 0.8,-0.4 1.7,-0.5 2.6,-0.5 3.6,0 6.5,2.9 6.5,6.5 z"
						fill="#1a0029"
						id="path224"
						style="stroke-width:10.7646" />
						<path
						d="m 64.5,136.6 c 0,2.7 -1.6,5 -3.9,6 -3.4,-0.2 -6,-3.1 -6,-6.5 0,-2.7 1.6,-5 3.9,-6 3.4,0.3 6,3.1 6,6.5 z"
						fill="#422c4f"
						id="path226"
						style="stroke-width:10.7646" />
					</g>
					<path
						d="m 86.1,134.2 -15.8,32.6 c -0.6,1.2 0.1,2.5 1.3,2.9 l 31.8,8.5 c 1.6,0.4 3,-1.2 2.4,-2.7 l -16,-41 c -0.6,-1.8 -2.9,-1.9 -3.7,-0.3 z"
						fill="#824d72"
						id="path230"
						style="stroke-width:10.7646" />
					<path
						d="m 70.1,168.2 c 2,4.2 6,7 10.7,7.5 l 22.6,2.4 z"
						fill="#663466"
						id="path232"
						style="stroke-width:10.7646" />
					<path
						d="m 139.9,114.2 c 0.8,-0.5 2,-1 3.6,-1.4 1.5,-0.4 3.4,-0.6 5.4,-0.4 0.5,0 1,0.1 1.5,0.2 0.5,0.1 1,0.2 1.6,0.3 1,0.3 2.1,0.7 3.1,1.2 l 1.5,0.8 c 0.5,0.3 0.9,0.7 1.3,1 0.9,0.6 1.6,1.5 2.3,2.2 0.7,0.7 1.2,1.7 1.6,2.5 0.5,0.8 0.8,1.6 1,2.4 0.2,0.8 0.5,1.5 0.5,2.1 0.1,0.7 0.1,1.1 0.1,1.5 0,0.9 -0.7,1.1 -1.4,0.5 l -0.9,-0.9 c -0.4,-0.4 -1,-0.8 -1.5,-1.3 -0.5,-0.4 -1,-0.9 -1.6,-1.4 -0.6,-0.4 -1.1,-1 -1.8,-1.3 -0.6,-0.4 -1.2,-0.9 -1.9,-1.3 -0.3,-0.2 -0.7,-0.4 -1,-0.6 l -1.1,-0.5 c -0.7,-0.4 -1.5,-0.7 -2.2,-1 -0.8,-0.3 -1.5,-0.6 -2.2,-0.9 -0.8,-0.3 -1.5,-0.6 -2.2,-0.8 -0.7,-0.3 -1.4,-0.5 -2.1,-0.7 -1.4,-0.5 -2.5,-0.8 -3.3,-1.1 -0.9,0 -1.1,-0.6 -0.3,-1.1 z M 69.3,99.9 c -0.5,-0.4 -1.3,-1 -2.2,-1.4 -1,-0.4 -2.2,-0.8 -3.6,-0.8 h -1.1 c -0.4,0 -0.7,0 -1.1,0.1 -0.7,0.1 -1.5,0.3 -2.2,0.6 L 58,98.9 c -0.3,0.2 -0.7,0.4 -1,0.6 -0.7,0.4 -1.2,1 -1.8,1.5 -0.6,0.5 -1,1.2 -1.4,1.7 -0.4,0.6 -0.7,1.2 -0.9,1.7 -0.2,0.6 -0.5,1.1 -0.6,1.6 -0.1,0.5 -0.2,0.8 -0.2,1.2 -0.1,0.7 0.4,0.9 0.9,0.5 0.3,-0.2 0.4,-0.3 0.7,-0.6 0.3,-0.3 0.7,-0.5 1.1,-0.8 0.4,-0.3 0.8,-0.6 1.3,-0.9 0.5,-0.3 0.9,-0.6 1.4,-0.8 0.5,-0.2 0.9,-0.6 1.5,-0.8 0.2,-0.1 0.5,-0.2 0.7,-0.4 l 0.8,-0.3 c 0.5,-0.3 1.1,-0.4 1.6,-0.6 0.5,-0.2 1.1,-0.3 1.6,-0.5 0.5,-0.1 1.1,-0.3 1.6,-0.4 l 1.5,-0.3 c 1,-0.2 1.8,-0.4 2.4,-0.5 0.4,0 0.6,-0.5 0.1,-0.9 z"
						fill="#1a0029"
						id="path234"
						style="stroke-width:10.7646" />
					<ellipse
						fill="#995574"
						transform="rotate(-80.91,134.338,178.235)"
						cx="134.338"
						cy="178.235"
						rx="6.1999998"
						ry="10.4"
						id="ellipse236"
						style="stroke-width:10.7646" />
					<ellipse
						fill="#995574"
						transform="rotate(-67.245,57.134,153.927)"
						cx="57.133999"
						cy="153.927"
						rx="5.0999999"
						ry="7.8000002"
						id="ellipse238"
						style="stroke-width:10.7646" />
					<path
						d="m 84.5,186.7 0.1,0.1 c 0,0 0.1,0 0.1,0.1 0.1,0 0.1,0.1 0.2,0.2 0.3,0.2 0.7,0.6 1.3,1 0.3,0.2 0.6,0.4 1,0.6 0.3,0.2 0.7,0.3 1.1,0.5 0.4,0.1 0.8,0.3 1.2,0.4 l 0.6,0.2 0.6,0.1 c 0.4,0.1 0.8,0.1 1.2,0.1 H 93 c 0.4,0 0.7,-0.1 1,-0.2 0.3,0 0.6,-0.2 0.9,-0.2 0.3,-0.1 0.5,-0.1 0.8,-0.2 0.2,-0.1 0.4,-0.2 0.6,-0.2 0.3,-0.1 0.5,-0.2 0.5,-0.2 3.1,-1.2 6.7,0.3 7.9,3.4 1.2,3.1 -0.3,6.7 -3.4,7.9 -0.6,0.2 -1.2,0.4 -1.8,0.4 0,0 -0.4,0 -1.1,0.1 -0.3,0 -0.7,0 -1.2,0.1 h -1.6 c -0.6,0 -1.2,0 -1.9,-0.2 -0.7,-0.1 -1.4,-0.2 -2.1,-0.4 -0.7,-0.2 -1.4,-0.4 -2.2,-0.7 -0.7,-0.3 -1.4,-0.5 -2.1,-0.9 l -1,-0.5 -0.9,-0.6 c -0.6,-0.4 -1.2,-0.9 -1.7,-1.3 -0.5,-0.5 -1,-0.9 -1.4,-1.3 -0.4,-0.4 -0.8,-0.9 -1.2,-1.3 -0.7,-0.8 -1.2,-1.6 -1.5,-2.1 -0.2,-0.3 -0.3,-0.5 -0.4,-0.7 l -0.1,-0.2 c -1,-1.5 -0.6,-3.5 0.9,-4.5 1.5,-1.4 3.5,-1 4.5,0.5 z"
						fill="#dbdae5"
						id="path240"
						style="stroke-width:10.7646" />
					<path
						d="m 248.1,137 c -1.4,31.1 -15.1,22.5 -15.1,22.5 -1.5,-2.3 -2.1,-5.1 -1.6,-8 0.9,-5.2 10.3,-13.4 16.7,-14.5 z"
						fill="#2f1e38"
						id="path242"
						style="stroke-width:10.7646" />
					<path
						d="m 254.2,161.4 c -1.5,6.3 -7.4,10.6 -14.3,9.5 -6.9,-1.1 -11.5,-7.2 -10.4,-13.5 1.1,-6.4 14.6,-11.6 21.4,-12.5 6.2,-0.8 5.6,6.7 3.3,16.5 z"
						fill="#422c4f"
						id="path244"
						style="stroke-width:10.7646" />
					<path
						class="reflect"
						d="M 6.8,64.7 C 23,21.8 51.8,9.2 77.5,7.9 103.5,6.6 127.3,26.7 130,55.2 133.1,87 110.3,114 82.5,114 c -23.8,0 -55,14.5 -49.1,74.1 0.4,4.3 -4.8,6.2 -6.8,2.5 C -10.2,122.9 0.7,80.8 6.8,64.7 Z"
						fill="url(#b)"
						opacity="0.7"
						id="path246"
						style="fill:url(#b);stroke-width:10.7646" />
					</g>
				</g>
				</svg>
		</div>
		<div class="mt-2">
			<label class="font-medium">No {{page}} yet!</label>
		</div>
		<div class="mt-2">
			<label class="mt-1 text-base font-extralight text-gray-500 text-center flex"> This section will contain the list of {{page}}. </label>
		</div>
	</div>
</template>

<script>
    import { defineComponent } from 'vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: {
			page: {
				type: String,
				default: '????'
			}
		},
    })
</script>