<template>
    <Link :href="href" :class="classes">
		<slot></slot>
    </Link>
</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: ['href', 'active'],
	
        computed: {
			classes() {
                return this.active
                    ? 'py-3 router-link-exact-active active cursor-pointer pb-2 pr-0 text-sm font-medium flex items-center leading-5 text-primary-500'
                    : 'py-3 router-link-exact-active cursor-pointer pb-2 pr-0 text-sm font-medium leading-5 text-gray-500 flex items-center'
            },
        }
    })

</script>
