<template>
	<div class="border-gray-300 rounded-md shadow-sm">
		<div class='tag-input'>
			<div v-for='(tag, index) in tags' :key='tag' class='tag-input__tag'>
				{{ tag }}
				<span @click='removeTag(index)'>x</span>
			</div>

			<input
				type='text'
				placeholder="Enter a Tag"
				class='tag-input__text focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				@keydown.enter='addTag'
				@keydown.delete='removeLastTag'
			/>

		</div>
  	</div>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: ['modelValue'],

		data() {
			return {
				tags: []
			}
		},

        methods: {
            focus() {
                this.$refs.input.focus()
            },

			addTag(event) {
				event.preventDefault()
				let val = event.target.value.trim()
				if (val.length > 0) {
					if (this.tags.length >= 1) {
						for (let i = 0; i < this.tags.length; i++) {
							if (this.tags[i] === val) {
								return false
							}
						}
					}
					this.tags.push(val)
					this.tags = [ ...new Set(this.tags) ]
					event.target.value = ''
					this.$emit("modelValue", this.tags);
				}
			},
			removeTag(index) {
				this.tags.splice(index, 1)
				this.$emit("modelValue", this.tags);
			},
			removeLastTag(event) {
				if (event.target.value.length === 0) {
				this.removeTag(this.tags.length - 1)
				}
			}
        },
		beforeMount(){
			this.tags = this.modelValue
		}
    })
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');
  

  
/*tag input style*/
  
  .tag-input {
    width: 100%;
    border: 1px solid #D9DFE7;
    background: #fff;
    border-radius: 4px;
    font-size: 0.9em;
    min-height: 45px;
    box-sizing: border-box;
    padding: 0 10px;
    font-family: "Roboto";
    margin-bottom: 10px;
  }

  .tag-input__tag {
    height: 24px;
    color: white;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    background-color: #667EEA;
    border-radius: 15px;
    margin-top: 10px;
    line-height: 24px;
    padding: 0 8px;
    font-family: "Roboto";
  }

  .tag-input__tag > span {
    cursor: pointer;
    opacity: 0.75;
    display: inline-block;
    margin-left: 8px;
  }

  .tag-input__text {
    border: none !important;
    outline: none !important;
    font-size: 1em !important;
  	background: none !important;
  }

</style>
