<template>
  <table class="min-w-full divide-y divide-gray-200 w-full">
		<thead>
			<tr>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" width="1%" >No</th>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" >Item</th>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" width="20%">Harga/unit</th>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" width="150px">Jumlah</th>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" width="15%">Jumlah</th>
				<th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" width="1%"></th>
			</tr>
		</thead>

		<tbody class="bg-white divide-y divide-gray-200">
			<tr v-for="(item, index) in items" :key="index">
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900" >{{ index + 1 }}</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
					<Products :id="'product_' + index"
						:index="index"
						:selected="item"
						@objectValue="getProduct"
					/>
					<JetInputError :message="error_messages['detail.' + index + '.product_id']" />
 				</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900" >
					<div class="cell-with-input">
						<input type="text" :class="inputClass" min="0" v-model="item.price" />
						<JetInputError :message="error_messages['detail.' + index + '.price']" />
					</div>
				</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
					<input type="text" min="0" :class="inputClass" v-model="item.quantity" />
					<JetInputError :message="error_messages['detail.' + index + '.quantity']" />
				</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-right">
					{{ decimalDigits(item.price * item.quantity) }}
				</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
					<div class="flex items-center justify-center w-6 h-10 mx-2 cursor-pointer" @click="deleteItem(index)">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="24px" class="h-5 text-gray-700"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>	
					</div>
				</td>
			</tr>

			<tr>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-right" colspan="4">Total : </td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-right" >{{decimalDigits(subTotal)}}</td>
				<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-right" ></td>
			</tr>
		</tbody>
	</table>
	<div class="flex items-center justify-center w-full px-6 py-3 text-base border-b border-gray-200 border-solid cursor-pointer text-primary-400 hover:bg-gray-200" @click="addNewItem" >
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="24px" class="h-5 mr-2"><path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path></svg>
		Add item
	</div>
</template>

<script>
import JetButtonPrimary from '@/Jetstream/ButtonPrimary.vue'
import JetButtonDanger from '@/Jetstream/ButtonDanger.vue'
import JetButton from '@/Jetstream/Button.vue'
import JetInput from '@/Jetstream/Input.vue'
import JetInputError from '@/Jetstream/InputError.vue'
import Products from '@/Components/Transaction/Products.vue'

export default {
	components: {
		JetButtonPrimary, JetButtonDanger, JetButton, JetInput, JetInputError, Products
	},

  	props: {
		datasets: {
			type: Array,
			default: [],
			required: true
		},
		messages: {
			type: Object,
			default: {}
		},
	},

	watch: {
		// whenever question changes, this function will run
		messages(newValue, oldValue) {
			this.error_messages = newValue
		},

		datasets: {
			immediate: true,
			deep: true,
            handler(newValue) {
				this.items = newValue
            }
		},

		items: {
			immediate: true,
			deep: true,
            handler(newValue) {
				this.$emit("objectValue", newValue)
            }
		},
	},

  	emits: ['objectValue'],

  	data() {
		return {
			inputClass: "border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full",
			error_messages: {},
			items: [],
			form: this.$inertia.form({
				_method: "POST",
			})
		}
	},
	
	computed: {
		subTotal: function() {
			let total = this.items.reduce(function(accumulator, item) {
				return accumulator + (item.price * item.quantity)
			}, 0)

			return total
		},
    },

	methods: {
		decimalDigits: function(value) {
			return "IDR " + value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
		},

		getProduct(index, value) {
			if(value?.id) {
				this.items[index].product_id = value.id
				this.items[index].price = value.price
			} else {
				this.items[index].product_id = null
				this.items[index].price = 0
			}
		},
	
		addNewItem: function() {
			this.items.push(
				{ product_id: null, quantity: 1, price: 0 }
			)
		},

		deleteItem: function(index) {
			this.items.splice(index, 1)
		},
	},
}
</script>
