<template>
	<div class="min-h-10 box-content block relative w-full text-left">
		<div v-show="Object.keys(selectedOption).length == 0" 
			class="min-h-10 block pt-1.5 pr-10 pb-3 pl-2 rounded border border-solid text-sm  border-gray-300 bg-white min-h-10 block pt-1.5 pr-10 pb-0 pl-2 rounded border border-solid text-sm ">
			<input 
				placeholder="Ketik atau klik untuk memilih produk" 
				tabindex="0" 
				aria-controls="listbox-null" 
				type="text" 
				autocomplete="none" 
				spellcheck="false"
				:value="modelValue"
				@focus="isOptionsExpanded = !isOptionsExpanded"
				@blur="isOptionsExpanded = false"
				v-on:keyup="onSearchUsers($event.target.value)"
				ref="input"
				class="pb-1/2 relative inline-block border-none focus:ring-0 leading-5 rounded pl-1 w-full box-border align-top text-sm outline-none"
			/>
		</div>

		<transition
				enter-active-class="transform transition duration-500 ease-custom"
				enter-class="-translate-y-1/2 scale-y-0 opacity-0"
				enter-to-class="translate-y-0 scale-y-100 opacity-100"
				leave-active-class="transform transition duration-300 ease-custom"
				leave-class="translate-y-0 scale-y-100 opacity-100"
				leave-to-class="-translate-y-1/2 scale-y-0 opacity-0"
			>

			<div v-show="isOptionsExpanded" class="wrapper z-10 absolute min-w-full block bg-white border border-solid border-gray-300 border-t-0 rounded-bl rounded-br" >
					<ul					
						class="list-none inline-block p-0 m-0 min-w-full align-top overflow-y-auto" 
						style="max-height: 300px; display: inline-block;"
					>
						<li v-for="(option, index) in options"
							:key="index"
							class="px-3 py-2 transition-colors duration-300 hover:bg-gray-200 cursor-pointer"
							@click="handleClick(option)"
						>
							<span class="block p-3 no-underline leading-4 normal-case align-middle relative cursor-pointer whitespace-nowrap text-sm">
								{{ option?.name }} - [{{ option?.price }}]
							</span>
						</li>
					</ul>
				
			</div>
		</transition>

		<div v-show="Object.keys(selectedOption).length > 0" class="flex-1 text-sm">
			<div class="relative flex items-center h-10 pl-2 bg-gray-100 border border-gray-200 border-solid rounded">
				{{selectedOption?.name}}
				<span class="absolute text-gray-400 cursor-pointer" style="top: 8px; right: 10px;" @click="clearClick()">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="24px" class="h-5">
						<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
					</svg>
				</span>
			</div>
		</div>


	</div>
</template>

<script>
    import { defineComponent } from 'vue'

export default defineComponent({
    props: {
        modelValue: {
          type: String,
          default: null
        },
        selected: {
          type: Object,
          default: {}
        },
		index: {
          type: Number,
          default: -1
        },
    },

	emits: ['objectValue'],

	//watch: {
	//	selected: {
	//		immediate: true,
	//		deep: true,
    //        handler(newValue, oldValue) {
	//			this.selectedOption = newValue
    //        }
	//	},

	//},

	data() {
		return {
			search: null,
			isOptionsExpanded: false,
			options: [],
			selectedOption: {},
		}
	},

    methods: {
        focus() {
          this.$refs.input.focus()
        },
        getProducts: function(searchVal) {
          this.options = []
          axios.get(route('web.api.products', {search: searchVal})).then(response => {
              this.options = response.data.data
          });
        },
        onSearchUsers(searchVal) {
          if (this.timer) {
              clearTimeout(this.timer)
              this.timer = null
          }
          this.timer = setTimeout(() => {
            this.getProducts(searchVal)
            this.isOptionsExpanded = true
          }, 800);
        },
        handleClick(option) {
          this.selectedOption = option;
          this.$emit("objectValue", this.index, option)
        },
        clearClick() {
          this.selectedOption = {}
		  this.$emit("objectValue", this.index, {})
		  this.getProducts("");
        }
    },

	created() {
		this.getProducts(this.search)
        this.isOptionsExpanded = false

		if(this?.selected?.product_id !== null) {
			this.selectedOption = {id: this?.selected?.product_id, name: this?.selected?.product_name};
		}
	},
})
</script>