<template>
  <div class="flex flex-col p-4 bg-white border border-gray-200 border-solid" style="min-height: 170px;">
    <div
        id="app"
        class="relative flex min-w-full"
        v-show="Object.keys(selectedOption).length == 0"
      >
		<div class="relative min-w-full" >  
			<input 
			type="text"
			class="min-w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm" 
			:value="modelValue"
			@focus="isOptionsExpanded = !isOptionsExpanded"
			@blur="isOptionsExpanded = false"
			v-on:keyup="onSearchUsers($event.target.value)"
			placeholder="Pilih Anggota"
			ref="input" />

			<span
			class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
			>
			<i v-if="modelValue" class="fas fa-times text-gray-400 z-20 hover:text-gray-500"></i>
			<i class="fas fa-chevron-down text-gray-400 z-20 hover:text-gray-500"></i>
			</span>
		</div>

		<transition
			enter-active-class="transform transition duration-500 ease-custom"
			enter-class="-translate-y-1/2 scale-y-0 opacity-0"
			enter-to-class="translate-y-0 scale-y-100 opacity-100"
			leave-active-class="transform transition duration-300 ease-custom"
			leave-class="translate-y-0 scale-y-100 opacity-100"
			leave-to-class="-translate-y-1/2 scale-y-0 opacity-0"
		>
			<ul
			v-show="isOptionsExpanded"
			class="absolute min-w-full mt-12 left-0 right-0 mb-4 bg-white divide-y rounded-lg shadow-lg overflow-hidden z-50"
			>
			<li
				v-for="(option, index) in options"
				:key="index"
				class="px-3 py-2 transition-colors duration-300 hover:bg-gray-200 cursor-pointer"
				@click="handleClick(option)"
			>
				{{ option?.name }} - [{{ option?.email }}]
			</li>
			<li class="px-3 py-2 transition-colors duration-300 hover:bg-gray-200 cursor-pointer" 
				v-if="options?.length == 0">
				data tidak ditemukan
			</li>
			</ul>
		</transition>
    </div>

    <div class="py-4 lg:px-4" v-show="Object.keys(selectedOption).length > 0">
      <div class="grid grid-cols-2 gap-4 mt-1 p-2" role="alert">
        <div class="font-extrabold text-2xl">{{selectedOption?.name}}</div>
        <div class="text-right"><span @click="clearClick()" class="cursor-pointer text-blue hover:text-blue-300">Batal</span></div>
        <div>e-mail: {{selectedOption?.email}}</div>
        <div>Saldo: {{decimalDigits(balance)}}</div>
      </div>
    </div>

	<div v-show="message" class="mt-4">
		<p class="text-sm text-red-600">
			{{ message }}
		</p>
	</div>

  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
	props: {
		modelValue: {
			type: String,
			default: null
		},
		selected: {
			type: Object,
			default: {}
		},
		message: {
			type: String,
			default: null
		},
	},

	watch: {
		// whenever question changes, this function will run
		message(newQuestion, oldQuestion) {
			//this.message = newQuestion
		}
	},

	data() {
		return {
			search: null,
			balance: 0,
			isOptionsExpanded: false,
			options: [],
			selectedOption: {},
		};
	},

	emits: ['objectValue'],

	methods: {
		focus() {
			this.$refs.input.focus()
		},
		
		decimalDigits: function(value) {
			return "IDR " + value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
		},

		getUsers: function(searchVal) {
			this.options = []
			axios.get(route('web.api.users', {search: searchVal, per_page: 5})).then(response => {
				this.options = response.data.data
			});
		},
		onSearchUsers(searchVal) {
			if (this.timer) {
				clearTimeout(this.timer)
				this.timer = null
			}
			this.timer = setTimeout(() => {
			this.getUsers(searchVal)
			this.isOptionsExpanded = true
			}, 800);
		},
		handleClick(option) {
			this.selectedOption = option;
			this.balance = option?.balance ?? 0
			this.$emit("objectValue", option)
		},
		clearClick() {
			this.selectedOption = {}
			this.$emit("objectValue", {})
			this.getUsers("");
		}
	},
	
	created(){
		this.getUsers(this.search);
		this.isOptionsExpanded = false
		this.selectedOption = this.selected
	}
})
</script>
<style>
.ease-custom {
  transition-timing-function: cubic-bezier(.61,-0.53,.43,1.43);
}
</style>