<template>
    <app-layout title="Penarikan Tabungan">

        <template #header>
			<breadcrumb :breadcrumb="breadcrumb" />
        </template>

        <div>
            <div class="relative table-container">
                <jet-form @submitted="createModel" :full="true">
                        <template #form>
							<div class="grid grid-cols-2 gap-4" >
								<div>
									<UserInput
										:message="form.errors.member_id"
										@objectValue="getUser"
									/>
								</div>

								<div>
									<div class="col-span-12 sm:col-span-6">
										<JetLabel for="invoice_number" value="Kode Transaksi" />
										<JetInput
											id="payment_code"
											v-model="trx"
											type="text"
											class="mt-1 block w-full"
											disabled
										/>
									</div>
									
									<div class="col-span-12 sm:col-span-6 pt-4">
										<JetLabel for="ref_number" value="Nomor Referensi" />
										<JetInput
											id="ref_number"
											v-model="form.ref_number"
											type="text"
											class="mt-1 block w-full"
										/>
										<JetInputError :message="form.errors.ref_number" class="mt-2" />
									</div>

									<div class="col-span-12 sm:col-span-6 pt-4">
										<JetLabel for="ref_number" value="Jumlah Penarikan" />
										<JetInput
											id="ref_number"
											v-model="form.total"
											type="text"
											class="mt-1 block w-full"
										/>
										<JetInputError :message="form.errors.total" class="mt-2" />
									</div>
								</div>
							</div>
                        </template>

                        <template #actions>
                            <jet-button-primary >
								<IconSave />
								Save
							</jet-button-primary>
                        </template>
                </jet-form>
            </div>
        </div>
    </app-layout>
</template>
<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetForm from '@/Jetstream/FormTransparent.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetSelect from '@/Jetstream/Select.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import Breadcrumb from '@/Components/Tmp/Breadcrumb.vue'

    import UserInput from '@/Components/Transaction/User.vue'

	import JetButtonPrimary from '@/Jetstream/ButtonPrimary.vue'
	import IconSave from '@/Components/Icons/Save'

    export default defineComponent({
        components: {
            AppLayout, JetForm, JetInput, JetLabel, Link, JetButton, 
			JetInputError, JetSelect, JetDangerButton, Breadcrumb,
			JetButtonPrimary, IconSave, UserInput
        },

        props: {
            trx: String,
        },
		
        data() {
            return {
				breadcrumb: [{titel: 'Transaksi', route : 'transactions.index'}, {titel: 'Create', route : '#'}],
				datasets: [
					{ product_id: null, product_name: null, quantity: 1, price: 0 },
				],
				balance: 0,
                form: this.$inertia.form({
                    _method: "POST",
					member_id: null,
					ref_number: null,
					total: null,
                })
            }
        },

		computed:{
			
		},

        methods: {
            createModel() {
				if(this.balance >= this.form.total) {
					this.form.post(route('withdrawals.store'), {
						errorBag: 'createModel',
						preserveScroll: true,
						onSuccess: page => {
							
						},
					});
				} else {
					Toast.fire({
						position: 'top-end',
						icon: 'error',
						toast: true,
						title: "Saldo anda kurang"
					});
				}

                
            },

			getUser(value) {
				if(value?.id) {
                	this.form.member_id = value?.id
					this.balance = value?.balance
				} else {
					this.form.member_id = null
					this.balance = 0
				}
            },

			getItems(value) {
				this.form.detail = value
			},
        },

		mounted() {
            //console.log(this.$page.props.errors.createModel)
        }

        
    })
</script>
