<template>
    <button :type="type" 
		class="mr-4 inline-flex justify-center items-center focus:outline-none font-normal 
				transition ease-in-out duration-150 border border-transparent border border-solid border-primary-500 
				text-primary-500 hover:bg-primary-200 shadow-inner whitespace-nowrap py-2 px-4 text-base leading-6 rounded-md">
        <slot></slot>
    </button>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: {
            type: {
                type: String,
                default: 'submit',
            },
        }
    })
</script>
