<template>
    <button :type="type" 
		class="ml-4 inline-flex items-center justify-center text-white font-normal transition duration-150 ease-in-out 
				border border-transparent focus:outline-none bg-red-500 hover:bg-opacity-75 whitespace-nowrap py-2 px-4 
				text-base leading-6 rounded-md">
        <slot></slot>
    </button>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: {
            type: {
                type: String,
                default: 'submit',
            },
        }
    })
</script>
