<template>
	<li>
		<button v-if="as == buttonas" type="button" :class="classbtn"   >
            <slot></slot>
        </button>

		<Link v-else :href="href" :class="classa" >
			<slot></slot>
		</Link>
	</li>
</template>

<script>
    import { defineComponent } from 'vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
        props: ['href', 'as'],
		data() {
            return {
				buttonas : 'button',
				classbtn :  "w-full flex block text-gray-700 group items-center px-4 py-2 text-sm font-normal hover:bg-gray-100",
                classa : "w-full flex block text-gray-700 group items-center px-4 py-2 text-sm font-normal hover:bg-gray-100"
            }
        },
    })
</script>
