<script setup>
import { computed, defineComponent } from 'vue'
import { usePage } from '@inertiajs/inertia-vue3';
import { mapState } from 'vuex'

import ParHeader from './Partials/Header.vue'
import ParMenu from './Partials/Menu.vue'
import ParFooter from './Partials/Footer.vue'

import { Head, Link } from '@inertiajs/inertia-vue3';

const props = defineProps({
	title: String,
})

beforeMount: {
	let success =  usePage().props.value?.success?.message ?? false
	if( success) {
		Toast.fire({
			position: 'top-end',
			icon: 'success',
			toast: true,
			title: success
		});
	}
}

</script>
<template>		
	<Head :title="title" />
	<div id="app" class="h-full">
	<div class="h-full">
		<div></div>

		<ParHeader />

		<div class="flex h-screen pt-16 pb-10 overflow-hidden">
			<div>
				<ParMenu />
			</div>
			<main class="flex flex-col flex-1 p-8 overflow-y-auto border-b border-gray-300 border-solid">
				<!-- s -->
				<div class="flex flex-wrap justify-between mb-8" v-if="$slots.header || $slots.header_button ">
					<div>
						<nav class="text-sm font-semibold pt-2" aria-label="Breadcrumb">
							<ol class="list-none p-0 inline-flex" v-if="$slots.header">
								<slot name="header"></slot>
							</ol>
						</nav>
								
					</div>
					
					<div class="flex items-center" v-if="$slots.header_button">
						<slot name="header_button"></slot>
					</div>
	  			</div>
				<!-- s -->
				<slot></slot>
			</main>
		</div>

		<ParFooter />

	</div>
</div>
</template>
